/Contacts/**/*.html
/Datalib/**/*.html
/Doc/**/*.html
/Download/**/*.html
/Faq/**/*.html
/Gap3/**/*.html
/Overview/**/*.html
/Packages/**/*.html
/Releases/**/*.html

!Doc/Talks/bcc.html
!Gap3/Download3/readzoo.html
!Packages/citrus.html
!Releases/index.html
!./index.html
!sitemap.html

/lib/funcs.pyc
/_site/
/.jekyll-cache/
