RedirectMatch permanent /Manuals/(.*) https://docs.gap-system.org/$1
RedirectMatch permanent /pub/gap/(.*) https://files.gap-system.org/$1
RedirectMatch permanent /DevelopersPages/StefanKohl/(.*) https://stefan-kohl.github.io/$1
RedirectMatch permanent /~history/(.*) https://mathshistory.st-andrews.ac.uk/$1
Redirect temp /slack https://join.slack.com/t/gap-system/shared_invite/zt-1nw2sl241-oL5OvOXDbUwDW0myptduzQ

Redirect temp /Contacts/centres.html /centres
Redirect temp /Contacts/cite.html /cite
Redirect temp /Contacts/funding.html /about/#funding
Redirect temp /Contacts/People/Council/council.html /council

RedirectMatch temp "^/Bib(/|$)(.*)" /doc/bib
Redirect temp /Doc/Learning/learning.html /doc/learn
Redirect temp /Doc/Teaching/teaching.html /doc/teach
Redirect temp /Doc /doc

Redirect temp /Download/index.html /install
Redirect temp /Download/install.html /install
Redirect temp /Download/tools.html /install
Redirect temp /Download/alternatives.html /install
Redirect temp /Download/copyright.html /copyright

Redirect temp /Faq/faq.html /faq

RedirectMatch temp "^/Releases(/|$)(.*)" /install
