RedirectMatch permanent /Manuals/(.*) https://docs.gap-system.org/$1
RedirectMatch permanent /pub/gap/(.*) https://files.gap-system.org/$1
RedirectMatch permanent /DevelopersPages/StefanKohl/(.*) https://stefan-kohl.github.io/$1
RedirectMatch permanent /~history/(.*) https://mathshistory.st-andrews.ac.uk/$1
Redirect temp /slack https://join.slack.com/t/gap-system/shared_invite/zt-1nw2sl241-oL5OvOXDbUwDW0myptduzQ

Redirect temp /Doc/Bib /doc/bib
Redirect temp /Doc/Learning/learning.html /doc/learn
Redirect temp /Doc/Teaching/teaching.html /doc/teach
Redirect temp /Doc /doc
