RedirectMatch permanent /Manuals/(.*) https://docs.gap-system.org/$1
RedirectMatch permanent /pub/gap/(.*) https://files.gap-system.org/$1
RedirectMatch permanent /DevelopersPages/StefanKohl/(.*) https://stefan-kohl.github.io/$1
RedirectMatch permanent /~history/(.*) https://mathshistory.st-andrews.ac.uk/$1
Redirect temp /slack https://join.slack.com/t/gap-system/shared_invite/zt-1nw2sl241-oL5OvOXDbUwDW0myptduzQ

Redirect temp /Contacts/centres.html /centres
Redirect temp /Contacts/cite.html /cite
Redirect temp /Contacts/Forum/forum.html /forum
Redirect temp /Contacts/funding.html /about/#funding
Redirect temp /Contacts/People/Council/council.html /council
Redirect temp /Contacts/People/authors.html https://github.com/gap-system/gap/blob/master/COPYRIGHT
Redirect temp /Contacts/People/people.html /contact
Redirect temp /Contacts/People/supportgroup.html /issues
Redirect temp /Contacts/publicationfeedback.html /contact
Redirect temp /Contacts/submit.html /packages/authors/submit
Redirect temp /Contacts/trouble.html /issues

RedirectMatch temp "^/[dD]oc/[bB]ib(/|$)(.*)" /doc/#bibliographies
Redirect temp /Doc/Learning/learning.html /doc/learn
Redirect temp /Doc/Teaching/teaching.html /doc/teach
Redirect temp /Doc/History/history.html /about/history
Redirect temp /Doc/History /about/history
Redirect temp /Doc/manuals.html /doc
Redirect temp /Doc /doc

Redirect temp /doc/manuals /doc

Redirect temp /Download/alternatives.html /install
Redirect temp /Download/copyright.html /copyright
Redirect temp /Download/index.html /install
Redirect temp /Download/install.html /install
Redirect temp /Download/tools.html /install
Redirect temp /Download/upgrade.html /install

Redirect temp /Faq/faq.html /faq

Redirect temp /Overview/Capabilities/algebras.html /capabilities/algebras
Redirect temp /Overview/Capabilities/basic.html /capabilities/basic
Redirect temp /Overview/Capabilities/capabilities.html /capabilities
Redirect temp /Overview/Capabilities/fpgroups.html /capabilities/fpgroups
Redirect temp /Overview/Capabilities/further.html /capabilities/further
Redirect temp /Overview/Capabilities/links.html /capabilities/links
Redirect temp /Overview/Capabilities/graphs.html /capabilities/graphs
Redirect temp /Overview/Capabilities/groups.html /capabilities/groups
Redirect temp /Overview/Capabilities/permgroups.html /capabilities/permgroups
Redirect temp /Overview/Capabilities/polycyclic.html /capabilities/polycyclic
Redirect temp /Overview/Capabilities/representations.html /capabilities/representations
Redirect temp /Overview/Capabilities/semigroups.html /capabilities/semigroups

Redirect temp /Packages/Authors/authors.html /packages/authors
Redirect temp /Packages /packages
Redirect temp /Packages/packages.html /packages
RedirectMatch temp "^/Packages/(.*).html$" "/packages/#$1"

RedirectMatch temp "^/Releases(/|$)(.*)" /install
