Alexander Konovalov <alexk@mcs.st-andrews.ac.uk> <alex-konovalov@users.noreply.github.com>
Chris Jefferson <caj21@st-andrews.ac.uk>
Dominik Bernhardt <bernhardt@mathb.rwth-aachen.de>
Frank Lübeck <frank.luebeck@math.rwth-aachen.de>
Max Horn <max@quendi.de> <fingolfin@users.noreply.github.com>
Ruth Hoffmann <rh347@icloud.com> <ruthhoffmann@users.noreply.github.com>
Thomas Breuer <sam@math.rwth-aachen.de>
