title: "GAP System for Computational Discrete Algebra"
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://www.gap-system.org" # the base hostname & protocol for your site, e.g. http://example.com

exclude:
  - "*.mixer"
  - "/lib/"
  - "*.g"
  - "*.py"
  - "tree"
  - "/fetchpkgmanuals"
  - "/MIXERROOT"
  - "/README.md"
  - "/etc"

liquid:
  error_mode: warn
  strict_variables: true
  strict_filters: true

collections:
  Releases:
    output: true
  Packages:
    output: true

defaults:
  - scope:
      path: ""
      type: Releases
    values:
      layout: releases
  - scope:
      path: ""
      type: Packages
    values:
      layout: packages
