/* number sections on certain pages */

#faq {
	counter-reset: heading;
}
#faq h2:before {
    color: $grey-dk-000;
	content: counter(heading)"  ";
	counter-increment: heading;
}
#faq h2 {
	counter-reset: subheading;
}
#faq h3:before {
    color: $grey-dk-000;
	content: counter(heading)"." counter(subheading)"  ";
	counter-increment: subheading;
}

footer.site-footer {
  color: $grey-dk-100;
}

.breadcrumb-nav {
  margin-top: 0rem;
  margin-bottom: -$sp-4;
}

.main-content-wrap {
  padding-top: 1rem;
}
