// new variable for our themes
//$gap-text-color: #ccffff;
$gap-text-color: #57Bde5;

$content-width: 70rem;
$header-height: 4.75rem;
 
$orig-border-color: $border-color;

#main-title {
    text-align: center;
}

#main-title h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

#main-title em {
  color: #dc143c;
  font-style: normal;
}

h2, h3, h4 {
  font-family: "Ubuntu", sans-serif;
}
