// new variable for our themes
$gap-text-color: #57Bde5;

$content-width: 70rem;
$header-height: 4.75rem;
 
$orig-border-color: $border-color;

@font-face {
  src: url("../fonts/Ubuntu/Ubuntu-Light.woff2") format('woff2');
  font-family: "Ubuntu";
  font-weight: 300;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Ubuntu/Ubuntu-Regular.woff2") format('woff2');
  font-family: "Ubuntu";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Ubuntu/Ubuntu-Medium.woff2") format('woff2');
  font-family: "Ubuntu";
  font-weight: 500;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Ubuntu/Ubuntu-Bold.woff2") format('woff2');
  font-family: "Ubuntu";
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Ubuntu/Ubuntu-LightItalic.woff2") format('woff2');
  font-family: "Ubuntu";
  font-weight: 300;
  font-style: italic;
}

@font-face {
  src: url("../fonts/Ubuntu/Ubuntu-Italic.woff2") format('woff2');
  font-family: "Ubuntu";
  font-weight: 400;
  font-style: italic;
}

@font-face {
  src: url("../fonts/Ubuntu/Ubuntu-MediumItalic.woff2") format('woff2');
  font-family: "Ubuntu";
  font-weight: 500;
  font-style: italic;
}

@font-face {
  src: url("../fonts/Ubuntu/Ubuntu-BoldItalic.woff2") format('woff2');
  font-family: "Ubuntu";
  font-weight: 700;
  font-style: italic;
}

@font-face {
  src: url("../fonts/Ubuntu_Mono/UbuntuMono-Regular.woff2") format('woff2');
  font-family: "Ubuntu Mono";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Ubuntu_Mono/UbuntuMono-Bold.woff2") format('woff2');
  font-family: "Ubuntu Mono";
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Ubuntu_Mono/UbuntuMono-Italic.woff2") format('woff2');
  font-family: "Ubuntu Mono";
  font-weight: 400;
  font-style: italic;
}

@font-face {
  src: url("../fonts/Ubuntu_Mono/UbuntuMono-BoldItalic.woff2") format('woff2');
  font-family: "Ubuntu Mono";
  font-weight: 700;
  font-style: italic;
}

#main-title {
    text-align: center;
}

#main-title h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

#main-title em {
  color: #dc143c;
  font-style: normal;
}

h2, h3, h4 {
  font-family: "Ubuntu", sans-serif;
}
