---
title: Semigroups, Monoids, and other Generalisations of Groups
grand_parent: About
parent: Capabilities
layout: default_with_title
nav_order: 10
---

These include
<ul>
  <li>
    functions for calculating with
    {% include ref.html label="Transformations" text="transformations" %},
  </li>
  <li>
    functions for investigating
    {% include ref.html label="Semigroups" text="semigroups" %},
    in particular transformation semigroups,
    {% include ref.html label="Monoids" text="monoids" %}, and
    {% include ref.html label="Finitely Presented Semigroups and Monoids" text="finitely&nbsp;presented&nbsp;semigroups&nbsp;and&nbsp;monoids" %},
  </li>
  <li>
    sets of basic functions for
    {% include ref.html label="Magmas" text="magmas" %} and
    {% include ref.html label="Additive Magmas" text="additive&nbsp;magmas" %},
  </li>
  <li>
    a package
    <a href="https://gap-packages.github.io/sonata/">SONATA</a> for investigating near rings,
  </li>
  <li>
    a package
    <a href="https://gap-packages.github.io/xmod/">XMod</a> for crossed modules and cat-1 groups,
  </li>
  <li>
    a package 
    <a href="https://gap-packages.github.io/groupoids/">GPD</a> 
    for computation of finite groupoids, 
  </li>
  <li>
    a package 
    <a href="https://gap-packages.github.io/loops/">Loops</a> for various types of loops,
  </li> 
  <li>
    a package 
    <a href="https://semigroups.github.io/Semigroups">Semigroups</a> (former Citrus)
    for computing with semigroups of transformations and partial permutations,
    or subsemigroups of regular Rees 0-matrix semigroups, and also with
    free inverse semigroups,
  </li>  
  <li>
    a package 
    <a href="https://gap-packages.github.io/smallsemi/">Smallsemi</a>, providing a data library
    of all semigroups with at most 8 elements,
  </li>  
  <li>
    a package 
    <a href="https://gap-packages.github.io/numericalsgps">NumericalSgps</a> 
    for computations with numerical semigroups, and
  </li> 
  <li>
    a package 
    <a href="https://gap-packages.github.io/sgpviz">SgpViz</a> for semigroup visualization.
  </li> 
</ul>

