{% comment %}
  Defaults:
  - use include.label as the link text if include.text not given
  - use "Reference" if include.book not given
  NOTE: It is important that there is no newline at the end of this file!
{% endcomment %}
{% if include contains "text" %}
  {% assign text = include.text %}
{% else %}
  {% assign text = include.label %}
{% endif %}
{% if include contains "book" %}
  {% assign book = include.book %}
{% else %}
  {% assign book = "Reference" %}
{% endif %}
<a href="{{ site.baseurl }}/Manuals/{{ 
            site.data.help[book].directory }}{{
            site.data.help[book].reference[include.label]}}"><span class="code">
  {{ text }}</span></a>