{%- comment -%}
  We override favicon.html so we can add a query argument `?v=1` which
  we can increment whenever the favicon changes in any way, to force browsers
  to refresh their caches.
{%- endcomment -%}
{%- assign ver = 1 %}
<link rel="icon" href="{{ site.baseurl }}/favicon.png?v={{ver}}" type="image/png">
<link rel="icon" href="{{ site.baseurl }}/assets/logo/light/gaplogo-notext.svg?v={{ver}}" type="image/svg+xml">
<link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png?v={{ver}}">
