<h3> Using GAP for the first time </h3>

<p> After starting GAP you will see the GAP banner.
<pre class="my-pre"><code>┌───────┐   GAP 4.11.0 of 29-Feb-2020
│  GAP  │   https://www.gap-system.org
└───────┘   Architecture: x86_64-apple-darwin18.6.0-default64-kv3
Configuration:  gmp 6.1.2
Loading the library and packages ...
Packages:   AClib 1.3.1, Alnuth 3.1.1, AtlasRep 2.1.0, AutoDoc 2019.05.20, AutPGrp 1.10, Browse 1.8.8,
            Carat 2.2.3, CRISP 1.4.4, Cryst 4.1.19, CrystCat 1.1.9, CTblLib 1.2.2, FactInt 1.6.2, FGA 1.4.0,
            Forms 1.2.5, GAPDoc 1.6.2, genss 1.6.5, IO 4.6.0, IRREDSOL 1.4, LAGUNA 3.9.3, orb 4.8.2,
            Polenta 1.3.8, Polycyclic 2.14, PrimGrp 3.3.2, RadiRoot 2.8, recog 1.3.2, ResClasses 4.7.2,
            SmallGrp 1.3, Sophus 1.24, SpinSym 1.5.1, TomLib 1.2.8, TransGrp 2.0.4, utils 0.63
Try '??help' for help. See also '?copyright', '?cite' and '?authors'</code></pre>
It shows the version and which packages where loaded. Let's compute something: </p>
<pre class="my-pre"><code>gap> 4 * 9 + 6;</code></pre>
<p> Press enter and GAP will show you the result. </p>
<pre class="my-pre"><code>42</code></pre>
<p> Now we want to create our first group and look at some basic operations. </p>
<pre class="my-pre"><code>gap> G := SymmetricGroup(4);
Sym( [ 1 .. 4 ] )
gap> Size(G);
24</code></pre>

