<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/gap.css?version=1">

<!-- CSS for Datatables, used for package list -->
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/datatables.min.css?version=1">

<meta name="Description" content="GAP system for computational discrete algebra, especially computational group theory" />

<meta name="Keywords" content="GAP,group theory,computational group theory,algebra,computational algebra,computational discrete algebra,mathematical computation" />

{% assign math = page.math | default: layout.math | default: site.math %}

{% case math %}
  {% when "mathjax" %}
    {% include mathjax.html %}
{% endcase %}

<title>{{ page.title }}</title>
