<table class="par">
  {% capture version %}{{ include.version | replace: ".", "-" }}{% endcapture %}
  {% assign pkgs = site.data.package-infos[version] | sort %}
  {% for pkg in pkgs %}
  <tr>
    <td>
      <a href="{{ site.baseurl }}/Packages/{{ pkg[0] }}.html">
        {{pkg[1].PackageName}}</a>
      &nbsp;
    </td>
    <td>{{pkg[1].Version}}
      &nbsp;
    </td>
    <td>
      &nbsp;
      {{pkg[1].Date}}
      &nbsp;&nbsp;
    </td>
    <td>
      {{pkg[1].Subtitle}}
    </td>
  </tr>
{% endfor %}
</table>
