<table class="par">
<thead>
<tr>
  <th>Package name</th>
  <th style="width:6em;">Version</th>
  <th style="width:6em;">Release date</th>
  <th>Description</th>
</tr>
</thead>
<tbody>
  {% capture version %}{{ include.version | replace: ".", "-" }}{% endcapture %}
  {% assign pkgs = site.data.package-infos[version] | sort %}
  {% for pkg in pkgs %}
  <tr>
    <td>
      <a href="{{ site.baseurl }}/Packages/{{ pkg[0] }}.html">
        {{pkg[1].PackageName}}</a>
    </td>
    <td>{{pkg[1].Version}}
    </td>
    <td>
      {{pkg[1].Date}}
    </td>
    <td>
      {{pkg[1].Subtitle}}
    </td>
  </tr>
{% endfor %}
</tbody>
</table>
