[Unit]
Description="Update GAP website"

[Service]
User=gap-www
Group=gap-www
Type=oneshot
ExecStart=/home/gap-www/GAP/etc/update.sh

[Install]
WantedBy=multi-user.target
