[Unit]
Description="Update GAP website"

[Service]
Type=oneshot
ExecStart=/srv/www/www-gap-systems/data/GapWWW/etc/update.sh
WorkingDirectory=/srv/www/www-gap-systems/data/GapWWW/

[Install]
WantedBy=default.target
