---
title: About
has_children: true
nav_order: 3
---
GAP is a system for computational discrete algebra, with particular
emphasis on Computational Group Theory.
GAP provides a {% include ref.html label="The Programming Language"
text="programming language" %}, a library of thousands of functions
implementing algebraic algorithms written in the GAP language as well as
large data libraries of
algebraic objects. 

<h3>
  Structure of GAP
</h3>
<p>
  GAP has a kernel written in C. It implements
</p>
<ul>
  <li>
    the GAP language,
  </li>
  <li>
    an interactive environment for developing and using
    GAP programs,
  </li>
  <li>
    memory management, and
  </li>
  <li>
    fast versions of time critical operations for various data types. 
  </li>
</ul>
<p>
  All the remaining functions of the library are written in the
  GAP language. Packages are mainly written in the
  GAP language, but some also involve standalones. Some
  packages provide links to other systems.
</p>


<h3>
    GAP provides:
  </h3>
  <ul>
    <li>
      <a href="overview.html#mathematical-capabilities">
      Mathematical&nbsp;capabilities</a>,
    </li>
    <li>
      A {% include ref.html label="The Programming Language" text="programming&nbsp;language" %}, 
      also called GAP,
    </li>
    <li>
      An {% include ref.html label="Main Loop and Break Loop" text="interactive&nbsp;environment" %}.
     </li>  
  </ul>
  
  
<h3 id="funding">Funding</h3>
We acknowledge with gratitude the support of the development of
GAP ...
<ul>
  <li>by the German Research Council (DFG) Collaborative Research Center TRR 195
    "Symbolic Tools in Mathematics and their Application",</li>
  <li>by the EU Horizon 2020 European Research Infrastructure project
    676541 "OpenDreamKit: Open Digital Research Environment Toolkit
    for the Advancement of Mathematics",</li>
  <li>by the Engineering and Physical Sciences Research Council Grant
    EP/M022641 "CoDiMa (CCP in the area of Computational Discrete
    Mathematics)",</li>
  <li>by the Engineering and Physical Sciences Research Council Grant
    EP/G055181 "HPC-GAP: High Performance Computational Algebra
    and Discrete Mathematics",</li>
  <li>as part of several projects within the DFG priority programme SPP 1489
    (Algorithmic and Experimental Methods in Algebra, Geometry and Number Theory),</li>
  <li>by the EU Framework 6 project 26133 "SCIEnce: Symbolic Computation
    Infrastructure for Europe",</li>
  <li>by the National Science Foundation Grant DUE-0633333
    "Enabling Computer Algebra Use in the Undergraduate Abstract Algebra Curriculum",</li>
  <li>by the Engineering and Physical Sciences Research Council Grant
    EP/C523229 "Multidisciplinary Critical Mass in Computational
    Algebra and Applications",</li>
  <li>by the Engineering and Physical Sciences Research Council Grant
    GR/S56085 "Semigroups and Monoids in GAP",</li>
  <li>by the Engineering and Physical Sciences Research Council Grant
    GR/R91298 "Computational Algebra for Commodity Parallel Machines",</li>
  <li>by grants of the Deutsche Forschungsgemeinschaft in the framework of the
    Schwerpunkt "Algorithmen in Zahlentheorie und Algebra",</li>
  <li>by the EU Human Capital and Mobility Network, grant number
    ERBCHRXCT930418 "Computational Group Theory",</li>
  <li>by the Engineering and Physical Sciences Research Council Grant
    GR/L21013,</li>
  <li>by the Leverhulme trust grant F/268/Q,</li>
  <li>by the British Council and the Deutscher Akademischer Austauschdienst
    under the ARC programme,</li>
  <li>and by the European Union's Esprit OpenMath project.</li>
</ul>
The development of GAP would not have been possible
without this support.
