---
title: Capabilities
parent: About
layout: default_with_title
has_children: true
---

<h3>
  GAP provides:
</h3>
<ul>
  <li>
    <a href="overview.html#mathematical-capabilities">
    Mathematical&nbsp;capabilities</a> accessible through
    <ul>
      <li>
        a large library of
        {% include ref.html label="Functions" text="functions" %}, containing
        implementations of various algebraic algorithms.
      </li>
      <li>
        separate <a href="{{ site.baseurl }}/packages/">packages</a> of additional
        functions for specialized purposes which can be used like library
        functions,
      </li>
      <li>
        data&nbsp;libraries containing large classes of various algebraic objects that are accessible by
        using GAP commands.
      </li>
    </ul>
  </li>
  <li>
    A {% include ref.html label="The Programming Language" text="programming&nbsp;language" %}, 
    also called GAP,
    which is interpreted and can be compiled. It can be used interactively
    at the keyboard or to write programs to be saved and then executed.
    Such programs can easily be modified and rerun. The language features:
    <ul>
      <li>
        Pascal-like control structures,
      </li>
      <li>
        automatic memory management including garbage collection,
      </li>
      <li>
        {% include ref.html label="Streams" text="streams" %},
      </li>
      <li>
        flexible
        {% include ref.html label="Lists" text="list" %} and
        {% include ref.html label="Records" text="record" %} data types,
      </li>
      <li>
        built-in data types for key algebraic objects,
      </li>
      <li>
        automatic {% include ref.html label="Method Selection" text="method&nbsp;selection" %} 
        building on  a mechanism for 
        automatically  choosing the highest ranked method for a certain 
        operation,  depending on the current state of all its arguments, 
        so that GAP objects representing mathematical objects may gain 
        knowledge about themselves during their lifetime  resulting in 
        better methods being chosen later on.
      </li>
    </ul>
  </li>
  <li>
    An {% include ref.html label="Main Loop and Break Loop" text="interactive&nbsp;environment" %} 
    that supports in particular 
     <ul>
       <li>
        {% include ref.html label="Line Editing" text="line&nbsp;editing" %}
        e.g. tab completion, 
       </li>
       <li>
        {% include ref.html label="Break Loops" text="break&nbsp;loops" %}
        for debugging,
       </li>
       <li>
        further {% include ref.html label="Debugging and Profiling Facilities" text="debugging&nbsp;and&nbsp;profiling" %}
        facilities for GAP programs,
       </li>
       <li> 
        {% include ref.html label="The Help System" text="online&nbsp;help" %}
        (i.e. online access to the manuals).
       </li>
     </ul> 
   </li>  
</ul>


<h3 id="mathematical-capabilities">Mathematical Capabilities</h3>
We do not distinguish here between
the capabilities of the main GAP library, the packages,
and the data libraries.
<ul>
  <li>
    <a href="Capabilities/basic.html">Basic&nbsp;Capabilities</a>,
  </li>
  <li>
    <a href="Capabilities/groups.html">Groups&nbsp;and&nbsp;Group&nbsp;Elements</a>,
  </li>
  <li>
    <a href="Capabilities/permgroups.html">
    Permutation&nbsp;and&nbsp;Matrix&nbsp;Groups</a>,
  </li>
  <li>
    <a href="Capabilities/fpgroups.html">Finitely&nbsp;Presented&nbsp;Groups</a>,
  </li>
  <li>
    <a href="Capabilities/polycyclic.html">Polycyclic&nbsp;Groups</a>,
  </li>
  <li>
    <a href= "Capabilities/representations.html">
    Representations&nbsp;and&nbsp;Characters&nbsp;of&nbsp;Groups</a>,
  </li>
  <li>
    <a href="Capabilities/algebras.html">
    Vector&nbsp;Spaces,&nbsp;Modules,&nbsp;and&nbsp;Algebras</a>,
  </li>
  <li>
    <a href="Capabilities/graphs.html">Graphs,&nbsp;Codes,&nbsp;and&nbsp;Designs</a>,
  </li>
  <li>
    <a href="Capabilities/semigroups.html">
    Semigroups,&nbsp;Monoids,&nbsp;and&nbsp;Other&nbsp;Generalisations&nbsp;of&nbsp;Groups</a>,
  </li>
  <li>
    <a href="Capabilities/words.html">Words,&nbsp;Rewriting,&nbsp;and&nbsp;Automata</a>,
  </li>
  <li>
    <a href="Capabilities/further.html">Further&nbsp;Capabilities</a>,
  </li>
  <li>
    <a href="Capabilities/links.html">Links&nbsp;to&nbsp;Other&nbsp;Systems</a>.
  </li>
</ul>
