# This is the "leftsidebar" as defined previously in the `lib/gwdatalib.tmpl`
# file.

<td class="leftsidebar">
<h4><a href="https://github.com/gap-system">Find us on GitHub</a></h4>
<h3>Navigation Tree</h3>
<mixer func="makeleft_plus"/><br />
<hr />
<b>Further Data Libraries<br />
in the Packages Branch</b><br />
<table>
<tr><td>&nbsp;&nbsp;
<a href="/Packages/aclib.html" class="deepestchildren">AClib</a>
</td></tr>
<tr><td>&nbsp;&nbsp;
<a href="/Packages/atlasrep.html" class="deepestchildren">AtlasRep</a>
</td></tr>
<tr><td>&nbsp;&nbsp;
<a href="/Packages/crystcat.html" class="deepestchildren">CrystCat</a>
</td></tr>
<tr><td>&nbsp;&nbsp;
<a href="/Packages/ctbllib.html" class="deepestchildren">CTblLib</a>
</td></tr>
<tr><td>&nbsp;&nbsp;
<a href="/Packages/irredsol.html" class="deepestchildren">irredsol</a>
</td></tr>
<tr><td>&nbsp;&nbsp;
<a href="/Packages/primgrp.html" class="deepestchildren">PrimGrp</a>
</td></tr>
<tr><td>&nbsp;&nbsp;
<a href="/Packages/sglppow.html" class="deepestchildren">SglPPow</a>
</td></tr>
<tr><td>&nbsp;&nbsp;
<a href="/Packages/smallgrp.html" class="deepestchildren">SmallGrp</a>
</td></tr>
<tr><td>&nbsp;&nbsp;
<a href="/Packages/smallsemi.html" class="deepestchildren">SmallSemi</a>
</td></tr>
<tr><td>&nbsp;&nbsp;
<a href="/Packages/tomlib.html" class="deepestchildren">TomLib</a>
</td></tr>
<tr><td>&nbsp;&nbsp;
<a href="/Packages/transgrp.html" class="deepestchildren">TransGrp</a>
</td></tr>
<tr><td>&nbsp;&nbsp;
<a href="/Packages/unitlib.html" class="deepestchildren">UnitLib</a>
</td></tr>
</table><br />
</td>
