<?xml version="1.0" encoding="utf-8"?>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link href="/lib/gw.css" type="text/css" rel="StyleSheet" />

<style type="text/css" media="screen">@import url(/lib/gw.css);</style>

<meta name="Description" content="GAP system for computational discrete algebra, especially computational group theory" />

<meta name="Keywords" content="GAP,group theory,computational group theory,algebra,computational algebra,computational discrete algebra,mathematical computation" />

<title><mixer part="title"/></title>

</head>

<body>

<table cellspacing="0">

<!--<tr>
<td colspan="2"><mixer func="maketop"/></td>
</tr>-->

<tr>

<td class="header" align="center">
<a href="/index.html">
 <div id="mainGAP">GAP</div>
</a>
</td>

<td class="top" align="center">
<h3>Main Branches</h3>
<mixer func="maketop"/>
</td>

</tr>

<tr>

<td class="leftsidebar">
<h4><a href="https://github.com/gap-system">Find us on GitHub</a></h4>
<h4><a href="/sitemap.html">Sitemap</a></h4>
<h3>Navigation Tree</h3>
<mixer func="makeleft_plus"/></td>

<td class="content">
<h2><mixer part="title"/></h2>
<mixer part="main"/>
</td>

</tr>

<tr>

<td class="footer" colspan="2">

<hr />

<a href="mailto:support@gap-system.org">The GAP Group</a>
Last updated: <mixer var="timestamp"/>

</td>
</tr>

</table>
</body>
</html>
