<?xml version="1.0" encoding="utf-8"?>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link href="/css/gw.css" type="text/css" rel="StyleSheet" />

<style type="text/css" media="screen">@import url(/css/gw.css);</style>

<meta name="Description" content="GAP system for computational discrete algebra, especially computational group theory" />

<meta name="Keywords" content="GAP,group theory,computational group theory,algebra,computational algebra,computational discrete algebra,mathematical computation" />

<title><mixer part="title"/></title>

</head>

<body>

<table cellspacing="0">

<tr>

<td class="header" align="center">
<a href="/index.html">
 <div id="mainGAP">GAP</div>
</a>
</td>

<td class="top" align="center">
<h3>Main Branches</h3>
<mixer func="maketop"/>
</td>

</tr>

<tr>

<td class="leftsidebar">
<h4><a href="https://github.com/gap-system">Find us on GitHub</a></h4>
<h4><a href="/sitemap.html">Sitemap</a></h4>
<h3>Navigation Tree</h3>
<mixer func="makeleft_plus"/><br />
<hr />
<b>Further Data Libraries<br />
in the Packages Branch</b><br />
<table>
<tr><td>&nbsp;&nbsp;
<a href="/Packages/aclib.html" class="deepestchildren">AClib</a>
</td></tr>
<tr><td>&nbsp;&nbsp;
<a href="/Packages/atlasrep.html" class="deepestchildren">AtlasRep</a>
</td></tr>
<tr><td>&nbsp;&nbsp;
<a href="/Packages/crystcat.html" class="deepestchildren">CrystCat</a>
</td></tr>
<tr><td>&nbsp;&nbsp;
<a href="/Packages/ctbllib.html" class="deepestchildren">CTblLib</a>
</td></tr>
<tr><td>&nbsp;&nbsp;
<a href="/Packages/irredsol.html" class="deepestchildren">irredsol</a>
</td></tr>
<tr><td>&nbsp;&nbsp;
<a href="/Packages/primgrp.html" class="deepestchildren">PrimGrp</a>
</td></tr>
<tr><td>&nbsp;&nbsp;
<a href="/Packages/sglppow.html" class="deepestchildren">SglPPow</a>
</td></tr>
<tr><td>&nbsp;&nbsp;
<a href="/Packages/smallgrp.html" class="deepestchildren">SmallGrp</a>
</td></tr>
<tr><td>&nbsp;&nbsp;
<a href="/Packages/smallsemi.html" class="deepestchildren">SmallSemi</a>
</td></tr>
<tr><td>&nbsp;&nbsp;
<a href="/Packages/tomlib.html" class="deepestchildren">TomLib</a>
</td></tr>
<tr><td>&nbsp;&nbsp;
<a href="/Packages/transgrp.html" class="deepestchildren">TransGrp</a>
</td></tr>
<tr><td>&nbsp;&nbsp;
<a href="/Packages/unitlib.html" class="deepestchildren">UnitLib</a>
</td></tr>
</table><br />
</td>

<td class="content">
<h2><mixer part="title"/></h2>
<mixer part="main"/>
</td>

</tr>

<tr>

<td class="footer" colspan="2">

<hr />

<a href="mailto:support@gap-system.org">The GAP Group</a>
Last updated: <mixer var="timestamp"/>

</td>
</tr>

</table>
</body>
</html>
