<?xml version="1.0" encoding="utf-8"?>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link href="/css/gw.css" type="text/css" rel="StyleSheet" />

<style type="text/css" media="screen">@import url(/css/gw.css);</style>

<meta name="Description" content="GAP system for computational discrete algebra, especially computational group theory" />

<meta name="Keywords" content="GAP,group theory,computational group theory,algebra,computational algebra,computational discrete algebra,mathematical computation" />

<title><mixer part="title"/></title>

</head>

<body>

<table cellspacing="0">

<tr>

<td class="header" align="center">
<a href="/index.html">
 <div id="mainGAP">GAP</div>
</a>
</td>

<td class="top" align="center">
<h3>Main Branches</h3>
<mixer func="maketop"/>
</td>

</tr>

<tr>

<td class="leftsidebar">
<h4><a href="/sitemap.html">Sitemap</a></h4>
<h3>Navigation Tree</h3>
<mixer func="makeleft_plus"/></td>

<td class="content">
<table><tr>
<!--
  <td class="gap3bar">This is a GAP&nbsp;3 page,&nbsp;
  see&nbsp; <a href="/Gap3/Changes3/changes.html">
  GAP&nbsp;3&nbsp;to&nbsp;GAP&nbsp;4</a></td></tr></table>
-->
<td class="gap3bar">This is a page on GAP&nbsp;3, which is
still available, but no longer supported. The present version is
GAP&nbsp;4&nbsp;&nbsp;(See&nbsp; <a href="/Gap3/status3.html">
Status&nbsp;of&nbsp;GAP&nbsp;3)</a>.</td></tr></table>
<h2><mixer part="title"/></h2>
<mixer part="main"/>
</td>

</tr>

<tr>

<td class="footer" colspan="2">

<hr />

<a href="mailto:support@gap-system.org">The GAP Group</a>
Last updated: <mixer var="timestamp"/>

</td>
</tr>

</table>
</body>
</html>
