---
title: Vector Spaces, Modules and Algebras
layout: core
parent: Overview
nav_order: 8
---

<p>
  {% include ref.html label="Vector Spaces" %} over
  {% include ref.html label="Fields and Division Rings" text="fields" %} and
  {% include ref.html label="Modules" text="modules" %} over
  {% include ref.html label="Rings" text="rings" %} can be defined when the
  coefficient domain is available in GAP. Note, however,
  that the range of implemented methods will depend on the coefficient
  domain.
</p>
<p>
  There are algorithms for the efficient calculation of Hermite and Smith
  {% include ref.html label="Normal Forms over the Integers" text="normal forms" %} over the integers (see also the package
  <a href="https://www.math.rwth-aachen.de/~Frank.Luebeck/EDIM">EDIM</a>).
</p>
<p>
  Computations concerning special modules arising in representation theory
  are possible. The package <a href="{{ site.baseurl }}/Gap3/Packages3/specht.html">Specht</a> 
  for dealing with Specht modules has been ported to GAP&nbsp;4
  in the <a href="https://gap-packages.github.io/hecke/">hecke</a> package.
</p>
<p>
  {% include ref.html label="Lie Algebras" %}
  can be given by structure constants, by generating matrices or by
  a finite presentation. There are routines for computing the structure 
  of finite dimensional Lie algebras, in particular
  there are functions for computing Cartan subalgebras,
  the direct sum decomposition, a Levi decomposition, the solvable radical
  and nil radicals. 
</p>
<p>
  Much of the support for Lie  algebras is based on more general methods
  using  an implementation  of the  arithmetic operations  via structure
  constants,  which  works  for  any  finite  dimensional  algebra.   In
  particular, associative
  {% include ref.html label="Algebras" text="algebras" %}
  (e.g., group rings, cf. the manual chapter 
  {% include ref.html label="Magma Rings" %})
  are also  supported. 
</p>
<p>
  Investigation of algebras given by presentations are currently restricted 
  to Lie algebras using the package  
  <a href="https://gap-packages.github.io/FPLSA">FPLSA</a>; associative algebras will 
  have to wait for a GAP&nbsp;4 implementation of the
  <a href="{{ site.baseurl }}/Gap3/Packages3/ve.html">vector&nbsp;enumeration</a> method.
</p>
<p>
  The  package  <a href="https://gap-packages.github.io/sophus/">Sophus</a> deals  with 
  nilpotent Lie algebras over prime fields allowing to construct central 
  extensions and to determine their automorphism groups.
</p>
<p>
  The package <a href="https://gap-packages.github.io/quagroup/">QuaGroup</a> allows to 
  investigate quantum groups.
</p>  
<p>
  On the home page of 
  <a href="http://www.math.unibas.ch/~draisma/">Jan&nbsp;Draisma</a>
  functions for working with the Weyl algebra and for the realisation of 
  Lie algebras by means of derivations are found.
</p>
<p>
Four new packages for Lie algebras appeared in GAP&nbsp;4.7 
distribution:
<ul>
  <li>
    The package <a href="https://gap-packages.github.io/corelg/">CoReLG</a> 
    for calculations in real semisimple Lie algebras.
  </li>  
  <li>
    The package <a href="https://gap-packages.github.io/liering/">LieRing</a> for
    constructing finitely-presented Lie rings and calculating the Lazard 
    correspondence. The package also provides a database of small 
    <i>n</i>-Engel Lie rings.
  </li>
  <li>
    The package <a href="https://gap-packages.github.io/liepring/">LiePRing</a>, introducing 
    a new datastructure for nilpotent Lie rings of prime-power order. This 
    allows to define such Lie rings for specific primes as well as for 
    symbolic primes and other symbolic parameters. The package also includes 
    a database of nilpotent Lie rings of order at most <i>p</i><sup>7</sup> 
    for all primes <i>p</i> > 3.
  </li>
  <li>
    The package <a href="https://gap-packages.github.io/sla/">SLA</a> for computations with 
    simple Lie algebras. The main topics of the package are nilpotent 
    orbits, theta-groups and semisimple subalgebras.
  </li>
</ul>
</p>
<p>
  The package <a href="https://gap-packages.github.io/laguna">LAGUNA</a>    
  allows to investigate unit groups of the modular group algebra of
  a <i>p</i>-group and Lie algebras associated with associative algebras.
  It is extended by the <a href="https://gap-packages.github.io/unitlib">UnitLib</a>
  package providing a library of unit groups of modular group algebras
  of <i>p</i>-groups of small order.
</p>
<p>
  The package <a href="https://gap-packages.github.io/wedderga">Wedderga</a>    
  computes the simple components of the Wedderburn decomposition 
  of semisimple group algebras of finite groups over finite fields 
  and over subfields of finite cyclotomic extensions of rationals. 
  It also contains functions that produce the primitive central 
  idempotents of semisimple group algebras. It also provides the 
  functionality to construct crossed products.
</p>
<p>
  The package <a href="https://gap-packages.github.io/modisom/">ModIsom</a> contains various
  methods for computing with nilpotent associative algebras. In particular,
  it contains a method to determine the automorphism group and to test
  isomorphisms of such algebras over finite fields and of modular group
  algebras of finite <i>p</i>-groups. Further, it contains a nilpotent quotient
  algorithm for finitely presented associative algebras and a method
  to determine Kurosh algebras.
</p>

