---
title: Basic Capabilities
layout: default
toc: Overview
subtoc: Capabilities
---

<p>
  GAP provides many ways of forming
</p>
<ul>
  <li>
    {% include ref.html manual="Reference: Lists" text="lists" %} (mutable and 
<a href="/Faq/faq.html#immutable">immutable</a>), which also covers
    {% include ref.html manual="Reference: Sorted Lists and Sets" text="sets" %},
    {% include ref.html manual="Reference: Row Vectors" text="row&nbsp;vectors" %},
    {% include ref.html manual="Reference: Matrices" text="matrices" %},
    {% include ref.html manual="Reference: Strings and Characters" text="strings" %}, and
    {% include ref.html manual="Reference: Boolean Lists" text="Boolean&nbsp;lists" %},
  </li>
  <li>
    {% include ref.html manual="Reference: Records" text="records" %},
  </li>
  <li>
    {% include ref.html manual="Reference: Domains and their Elements" text="domains" %},
     i. e., objects representing sets with an algebraic structure.
  </li>
</ul>
<p>
  Notions and tools modeled in some analogy to elementary set theory help
  to handle these:
</p>
<ul>
  <li>
    distinction of
    {% include ref.html manual="Reference: Objects and Elements" text="objects&nbsp;and&nbsp;elements" %},
  </li>
  <li>
    {% include ref.html manual="Reference: Booleans" text="Booleans" %},
  </li>
  <li>
    {% include ref.html manual="Reference: Orderings" text="orderings" %},
  </li>
  <li>
    {% include ref.html manual="Reference: Mappings" text="mappings" %} (in particular
    mappings respecting structures which again can be elements of
    structures),
  </li>
  <li>
    {% include ref.html manual="Reference: Relations" text="relations" %}.
  </li>
</ul>
<p>
  GAP can compute with
</p>
<ul>
  <li>
    arbitrary {% include ref.html manual="Reference: Integers" text="integers" %},
  </li>
  <li>
    {% include ref.html manual="Reference: Rational Numbers" text="rational&nbsp;numbers" %},
  </li>
  <li>
    {% include ref.html manual="Reference: Cyclotomic Numbers" text="cyclotomic&nbsp;numbers" %}, in particular
    {% include ref.html manual="Reference: Gaussians" text="Gaussian&nbsp;numbers" %},
  </li>
  <li>
    elements of {% include ref.html manual="Reference: Finite Fields" text="finite&nbsp;fields" %} (see also the coding theory package
    <a href="/Packages/guava.html">GUAVA</a>),
  </li>
  <li>
    {% include ref.html manual="Reference: p-adic Numbers (preliminary)" text="<em>p</em>-adic&nbsp;numbers" %},
  </li>
  <li>
    {% include ref.html manual="Reference: Polynomials and Rational Functions" text="polynomials" %}, including
    {% include ref.html manual="Reference: Multivariate Polynomials" text="multivariate&nbsp;polynomials" %} (GAP contains
    only a basic implementation of Buchberger's algorithm for computing
    {% include ref.html manual="Reference: Groebner Bases" text="Gröbner&nbsp;bases" %},
    for more serious computations the package
    <a href="/Packages/singular.html">singular</a> provides an interface
    to the extensive capabilities of the system
    <a href="http://www.singular.uni-kl.de">SINGULAR</a>),
  </li>
  <li>
    {% include ref.html manual="Reference: Rational Function Families" text="rational&nbsp;functions" %} as well as
  </li>
  <li>
    various kinds of
    <a href="groups.html">group&nbsp;elements</a>, e. g.
    {% include ref.html manual="Reference: Permutations" text="permutations" %},
    {% include ref.html manual="Reference: Matrices" text="matrices" %}, and
    {% include ref.html manual="Reference: Words" text="abstract&nbsp;words" %}.
  </li>
</ul>
<p>
  One can work with many algebracic structures. In addition to those for
  which links to separate pages are provided in the overview given on the page
  <a href="/Overview/Capabilities/capabilities.html">
  Mathematical&nbsp;Capabilities</a>, there are e. g.
</p>
<ul>
  <li>
    {% include ref.html manual="Reference: Finite Fields" text="finite&nbsp;fields" %},
  </li>
  <li>
    {% include ref.html manual="Reference: Residue Class Rings" text="residue&nbsp;class&nbsp;rings" %} of integers (see also the package
    <a href="/Packages/resclasses.html">ResClasses</a>),
  </li>
  <li>
    {% include ref.html manual="Reference: Abelian Number Fields" text="abelian&nbsp;number&nbsp;fields" %},
  </li>
  <li>
    {% include ref.html manual="Reference: Integral matrices and lattices" text="lattices&nbsp;and&nbsp;integral&nbsp;matrices" %}.
  </li>
</ul>
<p>
  Also there are
</p>
<ul>
  <li>
    various {% include ref.html manual="Reference: Combinatorics" text="combinatorial&nbsp;functions" %},
  </li>
  <li>
    functions for
    {% include ref.html manual="Reference: Number Theory" text="elementary&nbsp;number&nbsp;theory" %} as well as
  </li>
  <li>
    functions for
    {% include ref.html manual="Reference: Prime Integers and Factorization" text="prime&nbsp;number&nbsp;factorization" %} (see also the package
    <a href="/Packages/factint.html">FactInt</a>).
  </li>
</ul>

