---
title: Basic Capabilities
layout: core
parent: Overview of GAP
nav_order: 2
---

<p>
  GAP provides many ways of forming
</p>
<ul>
  <li>
    {% include ref.html label="Lists" text="lists" %} (mutable and 
<a href="{{ site.baseurl }}/Faq/faq.html#immutable">immutable</a>), which also covers
    {% include ref.html label="Sorted Lists and Sets" text="sets" %},
    {% include ref.html label="Row Vectors" text="row&nbsp;vectors" %},
    {% include ref.html label="Matrices" text="matrices" %},
    {% include ref.html label="Strings and Characters" text="strings" %}, and
    {% include ref.html label="Boolean Lists" text="Boolean&nbsp;lists" %},
  </li>
  <li>
    {% include ref.html label="Records" text="records" %},
  </li>
  <li>
    {% include ref.html label="Domains and their Elements" text="domains" %},
     i. e., objects representing sets with an algebraic structure.
  </li>
</ul>
<p>
  Notions and tools modeled in some analogy to elementary set theory help
  to handle these:
</p>
<ul>
  <li>
    distinction of
    {% include ref.html label="Objects and Elements" text="objects&nbsp;and&nbsp;elements" %},
  </li>
  <li>
    {% include ref.html label="Booleans" text="Booleans" %},
  </li>
  <li>
    {% include ref.html label="Orderings" text="orderings" %},
  </li>
  <li>
    {% include ref.html label="Mappings" text="mappings" %} (in particular
    mappings respecting structures which again can be elements of
    structures),
  </li>
  <li>
    {% include ref.html label="Relations" text="relations" %}.
  </li>
</ul>
<p>
  GAP can compute with
</p>
<ul>
  <li>
    arbitrary {% include ref.html label="Integers" text="integers" %},
  </li>
  <li>
    {% include ref.html label="Rational Numbers" text="rational&nbsp;numbers" %},
  </li>
  <li>
    {% include ref.html label="Cyclotomic Numbers" text="cyclotomic&nbsp;numbers" %}, in particular
    {% include ref.html label="Gaussians" text="Gaussian&nbsp;numbers" %},
  </li>
  <li>
    elements of {% include ref.html label="Finite Fields" text="finite&nbsp;fields" %} (see also the coding theory package
    <a href="https://gap-packages.github.io/guava/">GUAVA</a>),
  </li>
  <li>
    {% include ref.html label="p-adic Numbers (preliminary)" text="<em>p</em>-adic&nbsp;numbers" %},
  </li>
  <li>
    {% include ref.html label="Polynomials and Rational Functions" text="polynomials" %}, including
    {% include ref.html label="Multivariate Polynomials" text="multivariate&nbsp;polynomials" %} (GAP contains
    only a basic implementation of Buchberger's algorithm for computing
    {% include ref.html label="Groebner Bases" text="Gröbner&nbsp;bases" %},
    for more serious computations the package
    <a href="https://gap-packages.github.io/singular/">singular</a> provides an interface
    to the extensive capabilities of the system
    <a href="http://www.singular.uni-kl.de">SINGULAR</a>),
  </li>
  <li>
    {% include ref.html label="Rational Function Families" text="rational&nbsp;functions" %} as well as
  </li>
  <li>
    various kinds of
    <a href="groups.html">group&nbsp;elements</a>, e. g.
    {% include ref.html label="Permutations" text="permutations" %},
    {% include ref.html label="Matrices" text="matrices" %}, and
    {% include ref.html label="Words" text="abstract&nbsp;words" %}.
  </li>
</ul>
<p>
  One can work with many algebracic structures. In addition to those for
  which links to separate pages are provided in the overview given on the page
  <a href="{{ site.baseurl }}/Overview/Capabilities/capabilities.html">
  Mathematical&nbsp;Capabilities</a>, there are e. g.
</p>
<ul>
  <li>
    {% include ref.html label="Finite Fields" text="finite&nbsp;fields" %},
  </li>
  <li>
    {% include ref.html label="Residue Class Rings" text="residue&nbsp;class&nbsp;rings" %} of integers (see also the package
    <a href="https://gap-packages.github.io/resclasses/">ResClasses</a>),
  </li>
  <li>
    {% include ref.html label="Abelian Number Fields" text="abelian&nbsp;number&nbsp;fields" %},
  </li>
  <li>
    {% include ref.html label="Integral matrices and lattices" text="lattices&nbsp;and&nbsp;integral&nbsp;matrices" %}.
  </li>
</ul>
<p>
  Also there are
</p>
<ul>
  <li>
    various {% include ref.html label="Combinatorics" text="combinatorial&nbsp;functions" %},
  </li>
  <li>
    functions for
    {% include ref.html label="Number Theory" text="elementary&nbsp;number&nbsp;theory" %} as well as
  </li>
  <li>
    functions for
    {% include ref.html label="Prime Integers and Factorization" text="prime&nbsp;number&nbsp;factorization" %} (see also the package
    <a href="https://gap-packages.github.io/FactInt">FactInt</a>).
  </li>
</ul>

