---
title: Groups and Group Elements
layout: default
toc: Overview
---

<p>
  Groups can be given in various forms: for example as
  {% include ref.html label="Permutation Groups" text="permutation&nbsp;groups" %} or
  {% include ref.html label="Matrix Groups" text="matrix&nbsp;groups" %} (by generating elements), as
  {% include ref.html label="Finitely Presented Groups" text="finitely&nbsp;presented&nbsp;groups" %} or as
  {% include ref.html label="Pc Groups" text="polycyclicly&nbsp;presented&nbsp;groups" %}.
  GAP knows how to construct a number of well-known groups
  such as symmetric and classical groups and to fetch concrete groups from
  {% include ref.html label="Group Libraries" text="group&nbsp;libraries" %}
  (see also the page
  <a href="{{ site.baseurl }}/Datalib/datalib.html">Data&nbsp;Libraries</a>).
</p>
<p>
  There is a wide variety of functions for the investigation of groups.
  Some of these functions just build on the concept of a group while others
  (usually the more efficient ones, for instance nearly linear methods for
  permutation groups) utilize the way in which a particular group is given.
  GAP tries automatically to select a good method, but the
  user can take over full control of this
  {% include ref.html label="Method Selection" text="selection&nbsp;of&nbsp;methods" %}. Also, if
  no deterministic method exists (e. g., for determining the order of an
  fp-group) GAP will try to find an isomorphism to a group
  it can handle (in the above case it will try to find an isomorphism to a
  permutation group using the Todd-Coxeter method). 
</p>
<p>
  There are many functions to compute
  {% include ref.html label="Groups" text="invariants&nbsp;of&nbsp;groups" %},
  e. g.:
</p>
<ul>
  <li>
    order (called 'size' in GAP),
  </li>
  <li>
    conjugacy classes of elements,
  </li>
  <li>
    derived series,
  </li>
  <li>
    composition series (including identification of the composition
    factors),
  </li>
  <li>
    Sylow subgroups,
  </li>
  <li>
    certain characteristic subgroups,
  </li>
  <li>
    maximal subgroups,
  </li>
  <li>
    normal subgroups,
  </li>
  <li>
    subgroup lattice,
  </li>
  <li>
    {% include ref.html label="Tables of Marks" text="table&nbsp;of&nbsp;marks" %},
  </li>
  <li>
    {% include ref.html label="Groups of Automorphisms" text="automorphism&nbsp;group" %} (see also the package
    <a href="{{ site.baseurl }}/Packages/autpgrp.html">AutPGrp</a>),
  </li>
  <li>
    cohomology groups (packages
    <a href="{{ site.baseurl }}/Packages/cohomolo.html">cohomolo</a> and
    <a href="{{ site.baseurl }}/Packages/hap.html">HAP</a>
    and manual section
    {% include ref.html label="1-Cohomology" text="1-cohomology" %}),
  </li>
  <li>
    ordinary {% include ref.html label="Character Tables" text="character&nbsp;table" %} (see also the page
    <a href= "representations.html">
    Representations&nbsp;and&nbsp;Characters&nbsp;of&nbsp;Groups</a>).
  </li>
</ul>
<p>
  There are also functions for
</p>
<ul>
  <li>
    {% include ref.html label="Group Homomorphisms" text="group&nbsp;homomorphisms" %},
  </li>
  <li>
    {% include ref.html label="Group Actions" text="group&nbsp;actions" %},
  </li>
  <li>
    {% include ref.html label="Group Products" text="group&nbsp;products" %},
    and
  </li>
  <li>
    <a href="{{ site.baseurl }}/Packages/grpconst.html">group&nbsp;constructions</a>
  </li>
  <li>
    <a href="http://www.icm.tu-bs.de/ag_algebra/software/dietrich/Cubefree/">
    construction&nbsp;of&nbsp;groups&nbsp;of&nbsp;cube-free&nbsp;order</a>.
  </li>
</ul>
<p>
  Of course the range of applicability of the particular functions depends
  very much on the order and structure of the group. To give an idea of
  capabilities, GAP has (already in 1993) been used to find
  the composition series, Sylow subgroups and character table of a certain
  solvable subgroup of order 3,265,173,504 in the sporadic simple group
  Fi<sub>23</sub>, given as a permutation group of degree 31,671. Have a
  look at
  <a href="{{ site.baseurl }}/Doc/Examples/fischer.html">this</a> and
  <a href="{{ site.baseurl }}/Doc/Examples/examples.html">further&nbsp;examples</a>.
</p>

