---
title: Permutation and Matrix Groups
layout: core
parent: Overview
nav_order: 4
---

<p>
  For an overview of computational methods for permutation groups see
  the book [<a href="{{ site.baseurl }}/Doc/references.html#Se03">Se03</a>] of
  Ákos Seress. Historically, these methods
  started with Charles Sims' method for finding the order and a stabilizer
  chain nowadays known as the Schreier-Sims method, which is the basis of
  many functions implemented in GAP. To give a small sample
  of further special methods:
</p>
<p>
  The nearly linear time methods for permutation groups include functions
  to compute
</p>
<ul>
  <li>
    a stabilizer chain,
  </li>
  <li>
    p-core,
  </li>
  <li>
    radical,
  </li>
  <li>
    centre,
  </li>
  <li>
    composition series.
  </li>
</ul>
<p>
  There are also tasks for which no polynomial time methods are known and
  for which GAP relies on partition backtrack methods, for
  example
</p>
<ul>
  <li>
    centralizer,
  </li>
  <li>
    normalizer, or
  </li>
  <li>
    intersection of subgroups.
  </li>
</ul>
<p>
  The GAP4 package <a href="{{ site.baseurl }}/Packages/rcwa.html">RCWA</a>
  provides   methods  for  computations   with  the   so-called  Residue
  Class-Wise  Affine   mappings  of  certain  euclidian   rings  R  into
  themselves  and the  groups generated  by bijective  mappings  of this
  type.  The latter mappings form a proper subgroup of Sym(R).
</p> 
<p>
  For {% include ref.html label="Matrix Groups" text="matrix&nbsp;groups" %}.
  there are also special methods in the GAP library
  and a private GAP4 package 
  <a href="http://matrixss.sourceforge.net">matrixss</a> 
  implements  a
  <a href="http://henrik.baarnhielm.net/schreiersims.pdf">
  Schreier-Sims&nbsp;algorithm&nbsp;for&nbsp;matrix&nbsp;groups</a>,
  including both the standard deterministic and the standard
  probabilistic approach.
</p>
<p>
  The package
  <a href="{{ site.baseurl }}/Packages/polenta.html">Polenta</a> allows to find
  {% include ref.html label="Pc Groups" text="polycyclic&nbsp;presentations" %}
  for matrix groups.
</p>
<p>
  Routines to recognize isomorphism types of matrix groups using the
  Aschbacher classification (which recently have been in the focus of
  attention in computational group theory) are still (2005) only
  available through the GAP&nbsp;3 package
  <a href="{{ site.baseurl }}/Gap3/Packages3/matrix.html">matrix</a>.
</p>
<p>
  Also the very powerful package
  <a href="{{ site.baseurl }}/Gap3/Packages3/chevie.html">CHEVIE</a>
  for dealing with groups of Lie type and Chevalley groups still (2005)
  only exists with GAP&nbsp;3.
</p>
























