---
title: Representations and Characters of Groups
layout: default
toc: Overview
---

<p>
  Group representations over fields of characteristic zero are mainly
  investigated via their characters. GAP provides methods
  for computing the irreducible characters of a given finite group, either
  {% include ref.html label="The Dixon-Schneider Algorithm" text="automatically" %} or
  {% include ref.html label="Class Functions" text="interactively" %}
  by character theoretic means. It also provides many functions for
  deducing group theoretic properties from
  {% include ref.html label="Character Tables" text="character&nbsp;tables" %}.
</p>
<p>
  The computation of the irreducible representations themselves is possible
  for not too large groups (see e. g. the function 'IrreducibleRepresentations'
  in the reference manual section
  {% include ref.html label="Computing the Irreducible Characters of a Group" text="Computing&nbsp;the&nbsp;Irreducible&nbsp;Characters&nbsp;of&nbsp;a&nbsp;Group" %}).
  The package
  <a href="{{ site.baseurl }}/Packages/repsn.html">Repsn</a> provides methods for the
  construction of characteristic zero representations of finite groups.
  Also the GAP&nbsp;3 share package
  <a href="{{ site.baseurl }}/Gap3/Packages3/arep.html">AREP</a> offers possibilities to
  calculate with representations (which are of interest e.g. for applications
  to signal processing).
</p>
<p>
  Efficient methods are available for special classes of groups, e.&nbsp;g.
  in the GAP&nbsp;3 share package
  <a href="{{ site.baseurl }}/Gap3/Packages3/chevie.html">CHEVIE</a> which allows one to work
  with generic characters of groups of Lie type and Hecke algebras. See
  also the related GAP&nbsp;3 share package
  <a href="{{ site.baseurl }}/Gap3/Packages3/specht.html">Specht</a>.
</p>
<p>
  Modular representations (i. e., over fields whose characteristic divides
  the group order) can be studied via Brauer characters or by explicit
  calculations with matrices representing the generators of the group in
  question, using
  {% include ref.html label="The MeatAxe" text="MeatAxe" %} methods,
  <a href="{{ site.baseurl }}/Gap3/Packages3/ve.html">vector&nbsp;enumeration</a> (in
  GAP&nbsp;3), and
  <a href="{{ site.baseurl }}/Doc/Talks/condensation.html">condensation&nbsp;techniques</a>.
</p>
<p>
  Several GAP data libraries are related to representations
  and characters.
</p>
<ul>
  <li>
    The GAP
    <a href="{{ site.baseurl }}/Packages/ctbllib.html">Character&nbsp;Table&nbsp;Library</a>
    gives access to ordinary and modular character tables of many nearly
    simple groups and of related groups such as their maximal subgroups.
    <br />&nbsp;
  </li> 
  <li>
    The <a href="{{ site.baseurl }}/Packages/atlasrep.html">
    Atlas&nbsp;of&nbsp;Group&nbsp;Representations</a> gives access to 
    many permutation and matrix representations of many nearly simple
    and related groups.
    <br />&nbsp;
  </li> 
  <li>
    The GAP Library of
    <a href="{{ site.baseurl }}/Datalib/tom.html">Tables&nbsp;of&nbsp;Marks</a> provides
    these for many nearly simple and related groups.
  </li>
</ul>

<!--
See also the online
<a href="http://www.mathe2.uni-bayreuth.de/axel/symneu_engl.html">
representation theory</a> program.
-->

