---
title: Semigroups, Monoids, and other Generalisations of Groups
layout: core
parent: Overview of GAP
nav_order: 10
---

These include
<ul>
  <li>
    functions for calculating with
    {% include ref.html label="Transformations" text="transformations" %},
    <br /><br />
  </li>
  <li>
    functions for investigating
    {% include ref.html label="Semigroups" text="semigroups" %},
    in particular transformation semigroups,
    {% include ref.html label="Monoids" text="monoids" %}, and
    {% include ref.html label="Finitely Presented Semigroups and Monoids" text="finitely&nbsp;presented&nbsp;semigroups&nbsp;and&nbsp;monoids" %},
    <br /><br />
  </li>
  <li>
    sets of basic functions for
    {% include ref.html label="Magmas" text="magmas" %} and
    {% include ref.html label="Additive Magmas" text="additive&nbsp;magmas" %},
    <br /><br />
  </li>
  <!-- Removed as suggested by AD. Claimed to work with GAP 4.1, then unmaintained.
       Listed on the website in undeposited contributions.
  <li>
    a package with some special algorithms for
    <a href="{{ site.baseurl }}/Packages/Contrib/commsemi.html">commutative semigroups</a>,
    <br /><br />
  </li>
  -->
  <li>
    a package
    <a href="https://gap-packages.github.io/sonata/">SONATA</a> for investigating near rings,
    <br /><br />
  </li>
  <li>
    a package
    <a href="https://gap-packages.github.io/xmod/">XMod</a> for crossed modules and cat-1 groups,
    <br /><br />
  </li>
  <li>
    a package 
    <a href="https://gap-packages.github.io/groupoids/">GPD</a> 
    for computation of finite groupoids, 
    <br /><br />
  </li>
  <li>
    a package 
    <a href="https://gap-packages.github.io/loops/">Loops</a> for various types of loops,
    <br /><br />
  </li> 
  <li>
    a package 
    <a href="https://semigroups.github.io/Semigroups">Semigroups</a> (former Citrus)
    for computing with semigroups of transformations and partial permutations,
    or subsemigroups of regular Rees 0-matrix semigroups, and also with
    free inverse semigroups,
    <br /><br />
  </li>  
  <li>
    a package 
    <a href="https://gap-packages.github.io/smallsemi/">Smallsemi</a>, providing a data library
    of all semigroups with at most 8 elements,
    <br /><br />
  </li>  
  <li>
    a package 
    <a href="https://gap-packages.github.io/numericalsgps">NumericalSgps</a> 
    for computations with numerical semigroups, and
    <br /><br />
  </li> 
  <li>
    a package 
    <a href="https://gap-packages.github.io/sgpviz">SgpViz</a> for semigroup visualization.
    <br /><br />
  </li> 
</ul>

