---
title: Download GAP&nbsp;3
layout: gap3
---

<p><b>
  First of all read the page
  <a href="/Gap3/status3.html">Status&nbsp;of&nbsp;GAP&nbsp;3</a>.
</b></p>
<p>
  The latest version is GAP&nbsp;3.4.4. of April 1997.<br />
  There are 13
  <a href="bugfixes.html">bugfixes</a> for this version.
  Be sure to have a look on these as well.
</p>

<p><b>
A simplified GAP 3.4.4 Installation:
</b></p>
<p><b>
GAP 3 for Linux (i686 architecture) and Windows.
</b></p>
<p>
{% include namelink.html name="Frank Lübeck" %}
has  created an  executable of  the  currently released
version of  GAP 3.4.4 for Linux  on i686 machines. See his page
</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="http://www.math.rwth-aachen.de/~Frank.Luebeck/gap/GAP3/">
<code>http://www.math.rwth-aachen.de/~Frank.Luebeck/gap/GAP3/</code></a>
</p>
<p>
The executable  is produced with some optimized  compiler settings and
is statically linked. It can use up to 2 GB of memory on his machine.
</p>
<p>
His archive includes in addition to the main archive gap3r4p4.zoo from
the GAP  site: the  content of all  bugfix files, the  optimized Linux
executable gap3r4p4/bin/gap-static-linux-i686,  the Windows executable
gap3r4p4/bin/gapdjg.exe,  precompiled  manuals gap3r4p4/doc/manual.dvi
and  gap3r4p4/doc/manual.pdf, newer  versions of  some  share packages
(<a href="/Gap3/Packages3/specht.html">Specht</a>,  
<a href="/Gap3/Packages3/meataxe.html">MeatAxe</a>,
<a href="/Gap3/Packages3/sisyphos.html">Sisyphos</a>),  
and  two  additional  packages  
(<a href="/Gap3/Packages3/arep.html">AREP</a>, and
<a href="/Gap3/Packages3/monoid.html">Monoid</a>). 
 Some file permissions were changed to more reasonable values.
</p>
<p>Another distribution of GAP 3.4.4 is provided by
{% include namelink.html name="Jean Michel" %}. In that version packages
whose functionality is available in GAP 4 are stripped off, and newer
versions of some remaining packages (in particular CHEVIE) are included. 
Go to 
</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="http://www.math.jussieu.fr/~jmichel/gap3/">
<code>http://www.math.jussieu.fr/~jmichel/gap3/</code></a>
</p>
<p>
to download that version.
</p>

<b><p>
Standard Distribution:
</p></b>
<p>
  There is a <a href="readme">README</a> file that explains how to get and 
  to install GAP&nbsp;3.
</p>
<p>
  The collection of files described below on this page provides archives
  for different types of installations.
</p>
<p>
  You will first have to create a GAP home directory to
  which all archives expand. Go to this directory and expand the files there.
</p>
<p>
  If you have problems downloading zoo files read the page
  <a href="readzoo.html">Loading&nbsp;zoo&nbsp;files</a>.
</p>

<h2>
  I) &nbsp;All-in-one files
</h2>
<p>
  Note that some of these files are rather large. You will find suitable
  extractor programs below.
</p>
<dl>
  <dt>
    <a href="{{site.data.gap.gap3dist}}gap3r4p4.zoo">gap3r4p4.zoo</a>
  </dt>
  <dd>
    Omnibus edition. Contains everything except MAC specific files and
    binaries.
  </dd>
  <dt>
    <a href="{{site.data.gap.gap3dist}}gappc344.zoo">gappc344.zoo</a>
  </dt>
  <dd>
    PC Omnibus edition. Contains everything usable on a PC under DOS/Windows.
    (Excludes pkgbin344, includes PC binary).
  </dd>
  <dt>
    <a href="{{site.data.gap.gap3dist}}gapmac344.zoo">gapmac344.zoo</a>
  </dt>
  <dd>
    MAC Omnibus edition. Contains everything usable on a Macintosh.
    (Excludes pkgbin344). You will still have to get the
    <a href="#MACBIN">MAC binaries</a>
  </dd>
</dl>

<h2>
  II) &nbsp;Share Package archives
</h2>
<p>
  Sizes given exclude binaries. Those packages marked with a * provide
  functionality without further binaries and thus are usable on PC or MAC
  systems as well.
</p>
  <dl>
  <dt>
    <a href="{{site.data.gap.gap3dist}}split/anupq344.zoo">anupq344.zoo</a>
  </dt>
  <dd>
     ANU p-Quotient (1.3M)
  </dd>
  <dt>
    <a href="{{site.data.gap.gap3dist}}split/anusq344.zoo">anusq344.zoo</a>
  </dt>
  <dd>
     ANU Soluble quotient (.7M)
  </dd>
  <dt>
    <a href="{{site.data.gap.gap3dist}}share/arep-1.0.tar.gz">arep-1.0.tar.gz</a>
  </dt>
  <dd>
     AREP (Constructive representation theory)
  </dd>
  <dt>
    <a href="{{site.data.gap.gap3dist}}split/autag344.zoo">autag344.zoo *</a>
  </dt>
  <dd>
     Automorphism of AgGroups (.2M)
  </dd>
  <dt>
    <a href="{{site.data.gap.gap3dist}}split/chevie344.zoo">chevie344.zoo *</a>
  </dt>
  <dd>
     Chevalley groups  (1.4M)
  </dd>
  <dt>
    <a href="{{site.data.gap.gap3dist}}split/cohomolo344.zoo">cohomolo344.zoo</a>
  </dt>
  <dd>
     Cohomology (.7M)
  </dd>
  <dt>
    <a href="{{site.data.gap.gap3dist}}split/cryst344.zoo">cryst344.zoo *</a>
  </dt>
  <dd>
     Crystallographic groups (.4M)
  </dd>
  <dt>
    <a href="{{site.data.gap.gap3dist}}split/dce344.zoo">dce344.zoo *</a>
  </dt>
  <dd>
     Double coset enumerator (.3M)
  </dd>
  <dt>
    <a href="{{site.data.gap.gap3dist}}split/gliss344.zoo">gliss344.zoo *</a>
  </dt>
  <dd>
     Nearrings (13M)
  </dd>
  <dt>
    <a href="{{site.data.gap.gap3dist}}split/grape344.zoo">grape344.zoo *</a>
  </dt>
  <dd>
     Graphs and Geometries (1.1M)
  </dd>
  <dt>
    <a href="{{site.data.gap.gap3dist}}split/grim344.zoo">grim344.zoo *</a>
  </dt>
  <dd>
     Integral matrices (39k)
  </dd>
  <dt>
    <a href="{{site.data.gap.gap3dist}}split/guava344.zoo">guava344.zoo *</a>
  </dt>
  <dd>
     Codes (3M)
  </dd>
  <dt>
    <a href="{{site.data.gap.gap3dist}}split/kbmag344.zoo">kbmag344.zoo</a>
  </dt>
  <dd>
     Knuth-Bendix/Automatic groups (1M)
  </dd>
  <dt>
    <a href="{{site.data.gap.gap3dist}}split/matrix344.zoo">matrix344.zoo *</a>
  </dt>
  <dd>
     Matrix group recognition (1.4M)
  </dd>
  <dt>
    <a href="{{site.data.gap.gap3dist}}split/meataxe-new.zoo">meataxe-new.zoo</a>
  </dt>
  <dd>
     C-MeatAxe (1.4M)
  </dd>
  <dt>
    <a href="{{site.data.gap.gap3dist}}split/monoid.zoo">monoid.zoo *</a>
  </dt>
  <dd>
     Monoid (100k)
  </dd>
  <dt>
    <a href="{{site.data.gap.gap3dist}}split/nq344.zoo">nq344.zoo</a>
  </dt>
  <dd>
     Nilpotent quotient (.2M)
  </dd>
  <dt>
    <a href="{{site.data.gap.gap3dist}}split/pcqa344.zoo">pcqa344.zoo</a>
  </dt>
  <dd>
     Policyclic quotient (.6M)
  </dd>
  <dt>
    <a href="{{site.data.gap.gap3dist}}split/sisyphos-new.zoo">sisyphos-new.zoo</a>
  </dt>
  <dd>
     Group rings of p-groups (1.6M) This is a newer version than the
     originally released one, that fixes a bug in the isomorphism test.
  </dd>
  <dt>
    <a href="{{site.data.gap.gap3dist}}split/specht-new.zoo">specht-new.zoo *</a>
  </dt>
  <dd>
     Decomposition matrices of Hecke algebras and symmetric groups. (.6M)
  </dd>
  <dt>
    <a href="{{site.data.gap.gap3dist}}split/ve344.zoo">ve344.zoo</a>
  </dt>
  <dd>
     Module enumerator (.6M)
  </dd>
  <dt>
    <a href="{{site.data.gap.gap3dist}}split/xgap344.zoo">xgap344.zoo</a>
  </dt>
  <dd>
     Graphical interface (1.2M)
  </dd>
  <dt>
    <a href="{{site.data.gap.gap3dist}}split/xmod344.zoo">xmod344.zoo *</a>
  </dt>
  <dd>
     Crossed modules (1.8M)
  </dd>
</dl>

<h2>
  III) &nbsp;Unzoo and precompiled binaries
</h2>

<h3>
  Unzoo source cod
</h3>
<dl>
  <dt>
    <a href="{{site.data.gap.gap3dist}}/util/unzoo.c">unzoo.c</a>
  </dt>
  <dd>
    Source for 'unzoo' to uncompress the 'zoo' archives. You will 
    have to #define which type of system you are using. 
  </dd>
</dl>

<h3>
  PC binaries for
  <a name="domesdos">Windows</a>:
</h3>
<dl>
  <dt>
    <a href="{{site.data.gap.gap3dist}}bin/dos/unzoo.exe">unzoo.exe</a>
  </dt>
  <dt>
    <a href="{{site.data.gap.gap3dist}}bin/dos/wbin3.zoo">wbin3.zoo</a>
  </dt>
  <dd>
    GAP binary (compressed)
  </dd>
  <dt>
    <a href="{{site.data.gap.gap3dist}}bin/dos/README.WIN">README.WIN</a>
  </dt>
  <dd>
    Windows-Specific installation documentation
  </dd>
</dl>

<h3>
  <a name="MACBIN">Macintosh binaries</a>
</h3>
<dl>
  <dt>
    <a href="{{site.data.gap.gap3dist}}bin/mac/bin3r4p4-68k.sit">bin3r4p4-68k.sit</a>
  </dt>
  <dd>
    Binaries for 68k MACs
  </dd>
  <dt>
    <a href="{{site.data.gap.gap3dist}}bin/mac/bin3r4p4-PPC.sit">bin3r4p4-PPC.sit</a>
  </dt>
  <dd>
    Binaries for PowerMACs
  </dd>
  <dt>
    <a href="{{site.data.gap.gap3dist}}bin/mac/INSTALL-MAC.TXT">INSTALL-MAC.TXT</a>
  </dt>
  <dd>
    MAC-Specific installation documentation
  </dd>
</dl>

<h3>
  Unix binaries
</h3>
<dl>
  <dt>
    <a href="{{site.data.gap.gap3dist}}bin/linux/gap-ibm-i386-linux-gcc.zoo">
    gap-ibm-i386-linux-gcc.zoo</a>
  </dt>
</dl>

<h3>
  Please tell us if you installed GAP&nbsp;3
</h3>
<p>
  We ask you to inform us when you have downloaded and installed
  GAP&nbsp;3. To do so you may use the
  <a href="/Download/feedback.html">installation&nbsp;feedback&nbsp;form</a>.
  Alternatively you may write a brief email letter to the address
  {% include namelink.html name="GAP" %}
  informing us about your name and organisation, the type of
  installation, and possibly your area of mathematical interest.
</p>

