---
title: GAP&nbsp;3 Data Library "Integral Matrix Groups"
layout: gap3
toc: GAP 3
subtoc: GAP 3 Data Libs
---

<h3>
  Contents
</h3>
<p>
  The library contains Q-class representatives of all irreducible maximal
  finite integral matrix groups of dimension up to 24 and Z-class
  representatives of those among these groups which are of dimension at
  most 11 or of dimension 13, 17, 19, or 23.
</p>

<h3>
  Authors of the data listings
</h3>
<p>
  {% include namelink.html name="Wilhelm Plesken" %} and
  {% include namelink.html name="Gabriele Nebe" %}.
</p>

<h3>
  Author of the GAP implementation
</h3>
<p>
  {% include namelink.html name="Volkmar Felsch" %}.
</p>

<h3>
  Source
</h3>
<p>
  Several papers by the authors which are quoted in the respective section of
  the GAP&nbsp;3 reference manual.
</p>

<h3>
  GAP&nbsp;3 Manual section
</h3>
<p>
  A <a href=
  "{{ site.baseurl }}/Gap3/Manual3/Irreducible_Maximal_Finite_Integral_Matrix_Groups.html">
  manual</a> of the Irreducible Maximal Finite Integral Matrix Groups
  Library is given as section 37.12 of the
  <a href="{{ site.baseurl }}/Gap3/Manual3/chapters.htm">GAP&nbsp;3&nbsp;manual</a>.
</p>

<h3>
  Corresponding GAP&nbsp;4 data library
</h3>
<p>
  GAP&nbsp;4 Data Library
  <a href="{{ site.baseurl }}/Datalib/imf.html">Integral&nbsp;Matrix&nbsp;Groups</a>
</p>
<p>
  In GAP&nbsp;4 the library has been extended. Release 3 of 
  GAP&nbsp;4 contains Q-class representatives of all irreducible
  maximal finite integral matrix groups of dimension up to 31.
</p>

<h3>
  Contact addresses
</h3>
<p>
  <a href="http://wwwb.math.rwth-aachen.de/Mitarbeiter/plesken.html">Wilhelm Plesken</a><br />Lehrstuhl B für Mathematik<br />
RWTH Aachen<br />
Pontdriesch 10-16<br />
52062 Aachen<br />
Germany<br />
email: <a href="mailto:plesken@math.rwth-aachen.de">plesken@math.rwth-aachen.de</a><br />
 <br />
  <a href="http://www.math.rwth-aachen.de/~Gabriele.Nebe/index.html.en">Gabriele Nebe</a><br />Lehrstuhl D für Mathematik<br />
RWTH Aachen<br />
Pontdriesch 14-16<br />
52062 Aachen<br />
Germany<br />
email: <a href="mailto:nebe@mathematik.uni-ulm.de">nebe@mathematik.uni-ulm.de</a><br />
</p>

