---
title: GAP&nbsp;3 Data Library "Small Groups"
layout: gap3
---

<h3>
  Contents
</h3>
<p>
  All groups of size up to 1000 (except 512 and 768).
</p>

<h3>
  Authors
</h3>
<p>
  {% include namelink.html name="Eamonn O'Brien" %},
  {% include namelink.html name="Bettina Eick" %}, and
  Hans Ulrich Besche.
</p>

<h3>
  GAP&nbsp;3 Manual section
</h3>
<p>
  A <a href="/Gap3/Manual3/The_Small_Groups_Library.html">manual</a>
  of the Small Groups Library is given as section 37.14 of the
  <a href="/Gap3/Manual3/chapters.htm">GAP&nbsp;3&nbsp;manual</a>.
</p>

<h3>
  Corresponding GAP&nbsp;4 data library
</h3>
<p>
  GAP&nbsp;4 Package
  <a href="/Packages/sgl.html">The SmallGroups Library</a>
</p>
<p>
  In GAP&nbsp;4 the library has been extended. In release 3 of
  GAP&nbsp;4 it contains the following groups:
</p>
<ul>
 <li> those of order at most 2000 except 1024 (423 164 062 groups); </li>
 <li> those of order 5^5 and 7^4 (92 groups); </li>
 <li> those of order q^n * p where q^n divides 2^8, 3^6, 5^5 or 7^4
      and p is an arbitrary prime different to q; </li>
 <li> those whose order factorises into at most 3 primes. </li>
</ul>

<h3>
  Contact addresses
</h3>
<p>
  <a href="http://www.math.auckland.ac.nz/~obrien">Eamonn O'Brien</a><br />Department of Mathematics<br />
University of Auckland<br />
Auckland, Private Bag 92019<br />
New Zealand<br />
email: <a href="mailto:obrien@math.auckland.ac.nz">obrien@math.auckland.ac.nz</a><br />
 <br />
  <a href="http://www.icm.tu-bs.de/~beick/">Bettina Eick</a><br />Institut Computational Mathematics<br />
TU Braunschweig<br />
Pockelsstr. 14<br />
D-38106 Braunschweig<br />
Germany<br />
email: <a href="mailto:beick@tu-bs.de">beick@tu-bs.de</a><br />
 <br />
  Hans Ulrich Besche<br />Institut Computational Mathematics<br />
Universität Braunschweig<br />
Pockelsstr. 14<br />
38106 Braunschweig<br />
Germany<br />
email: <a href="mailto:hubesche@tu-bs.de">hubesche@tu-bs.de</a><br />
</p>

