<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link href="/css/gw.css" type="text/css" rel="StyleSheet" />

<style type="text/css" media="screen">@import url(/css/gw.css);</style>

<meta name="Description" content="GAP system for computational discrete algebra, especially computational group theory" />

<meta name="Keywords" content="GAP,group theory,computational group theory,algebra,computational algebra,computational discrete algebra,mathematical computation" />

<title>{{ page.title }}</title>

</head>

<body>

<table cellspacing="0">

{{ content }}

<tr>

<td class="footer" colspan="2">

<hr />

<a href="mailto:support@gap-system.org">The GAP Group</a>
Last updated: {{ timestamp }} <!-- TODO: timestamp -->

</td>
</tr>

</table>
</body>
</html>
