---
layout: core
---

<tr>

<td class="header" align="center">
<a href="/index.html">
 <div id="mainGAP">GAP</div>
</a>
</td>

<td class="top" align="center">
<h3>Main Branches</h3>
<mixer func="maketop"/> <!-- TODO -->
</td>

</tr>

<tr>

<td class="leftsidebar">
<h4><a href="https://github.com/gap-system">Find us on GitHub</a></h4>
<h4><a href="/sitemap.html">Sitemap</a></h4>
<h3>Navigation Tree</h3>
<mixer func="makeleft_plus"/></td><!-- TODO -->

<td class="content">
<h2>{{ page.title }}</h2>
{{ content }}
</td>

</tr>
