---
layout: start
---

{% capture manual %}{{site.data.gap.GAPManualLink | append: "/pkg/" | append: page.dirname}}{% endcapture %}

<h2>GAP package {{ page.name }}</h2>

<h2>{{ page.description }}</h2>

<p class="homelink">[<a href="{{ page.www }}">WWW homepage</a>]</p>

{% if page.authors.size > 1 %}
    <h4>Authors</h4>
{% else %}
    <h4>Author</h4>
{% endif %}
{% assign persons = "" %}
{% for person in page.authors %}
    {% if person.url %}
        {% capture persons %}{{ persons }}<a href="{{ person.url }}">{{ person.name }}</a>|{% endcapture %}
    {% else %}
        {% capture persons %}{{ persons }}{{person.name}}|{% endcapture %}
    {% endif %}
{% endfor %}
<p>{{ persons | split: "|" | join: ", " }}</p>

{% if page.maintainers.size > 1 %}
    <h4>Maintainers</h4>
{% else %}
    <h4>Maintainer</h4>
{% endif %}
{% assign persons = "" %}
{% for person in page.maintainers %}
    {% if person.url %}
        {% capture persons %}{{ persons }}<a href="{{ person.url }}">{{ person.name }}</a>|{% endcapture %}
    {% else %}
        {% capture persons %}{{ persons }}{{person.name}}|{% endcapture %}
    {% endif %}
{% endfor %}
<p>{{ persons | split: "|" | join: ", " }}</p>

<h4>Short Description</h4>
<p>{{ page.abstract }}</p>

<h4>Version</h4>
<p> Current version shipped with GAP: {{ page.version }} &nbsp;&nbsp;(Released  {{ page.date | date: "%d/%m/%Y" }})</p>

<h4>License</h4>
<p>{{ page.license }}</p>

<h4>Status</h4>
<p> {{ page.status }}
    {% if page.communicatedBy and page.acceptData %}
        &nbsp;&nbsp; (communicated by {{page.communicatedBy}}, accepted {{ page.acceptData | date: "%d/%m/%Y" }})
    {% elsif page.communicatedBy %}
        &nbsp;&nbsp; (communicated by {{page.communicatedBy}})
    {% elsif page.acceptData %}
        &nbsp;&nbsp; (accepted {{ page.acceptData | date: "%d/%m/%Y" }})
    {% endif %}
</p>

<h4>Dependencies</h4>
<p> GAP version: {{ page.GAP }}</p>

<p> Needed other packages:
{% assign pkgs = "" %}
{% for pkg in page.needed-pkgs %}
    {% assign pkgs = pkgs | append: pkg.name | append: "(" | append: pkg.version | append : ")|" %}
{% endfor %}
{{ pkgs | split: "|" | join: ", " }}
</p>

<p> Suggested other packages:
{% assign pkgs = "" %}
{% for pkg in page.suggested-pkgs %}
    {% assign pkgs = pkgs | append: pkg.name | append: "(" | append: pkg.version | append : ")" | append: "|" %}
{% endfor %}
{{ pkgs | split: "|" | join: ", " }}
</p>

<h4>Online documentation</h4>
<p>{{ page.name }}:  [<a href="{{ manual }}/{{ page.doc-html }}"> HTML</a>] version&nbsp;&nbsp; [<a href="{{ manual }}/{{ page.doc-pdf }}"> PDF</a>] version&nbsp;&nbsp;</p>

<h4>Download</h4>
<p>
    [<a href="{{ manual }}/README.{{ page.name | downcase }}">README</a>]&nbsp;&nbsp;&nbsp;&nbsp;{{ page.dirname }}
    [<a href='{{ site.data.gap.gap4dist }}tar.gz/packages/{{ page.dirname }}.tar.gz'>.tar.gz&nbsp; </a>]&nbsp;&nbsp;
    [<a href="{{ site.data.gap.gap4dist }}tar.bz2/packages/{{ page.dirname }}.tar.bz2">.tar.bz2&nbsp; </a>]&nbsp;&nbsp;
    [<a href="{{ site.data.gap.gap4dist }}win.zip/packages/{{ page.dirname }}-win.zip">-win.zip&nbsp; </a>]&nbsp;&nbsp;
    [<a href="{{ site.data.gap.gap4dist }}zip/packages/{{ page.dirname }}.zip">.zip&nbsp; </a>]&nbsp;&nbsp;
</p>

<!-- TODO we need a link to the github repository and the issue tracker-->
<h4>Source code repository</h4>
<p>{{page.sourceRepository.type}} : <a href="{{ page.sourceRepository.url }}">{{ page.sourceRepository.url }}</a></p>

<h4>Issue tracker</h4>
<p><a href="{{ page.issueTrackerUrl }}">{{ page.issueTrackerUrl }}</a></p>

{% if page.supportemail %}
<h4>Support email address</h4>
<p><a href="{{ mailto | append: page.supportemail }}">{{ page.supportemail }}</a></p>
{% endif %}