---
layout: start
---

{% assign namelowercase = page.title | downcase %}
{% assign pkginfo = site.data.package-infos[site.data.release.version-safe][namelowercase] %}
{% assign path = pkginfo.InstallationPath | split: "-" | slice: 0 %}
{% capture manual %}{{ site.baseurl }}/Manuals/{{ path }}{% endcapture %}

<h1>GAP package {{ pkginfo.PackageName }}</h1>

<h2>{{ pkginfo.Subtitle }}</h2>

<p>{{ pkginfo.AbstractHTML }}</p>

<p class="homelink">[<a href="{{ pkginfo.PackageWWWHome }}">WWW homepage</a>]  &nbsp; &nbsp; &nbsp;
    {% if pkginfo contains "SourceRepository" %} [<a href="{{ pkginfo.SourceRepository.URL }}">Source code repository</a>] {% endif %}
    &nbsp; &nbsp; &nbsp;
    {% if pkginfo contains "IssueTrackerURL" %} [<a href="{{ pkginfo.IssueTrackerURL }}">Issue tracker</a>] {% endif %}

</p>

<dl id="packages">

{% assign authors = "" %}
{% assign maintainers = "" %}

{% for person in pkginfo.Persons %}
    {% capture name %}{{ person.FirstNames }} {{ person.LastName }}{% endcapture %}
    {% if person contains "WWWHome" %}
        {% capture name %}<a href="{{ person.WWWHome }}">{{ name }}</a>{% endcapture %}
    {% endif %}
    {% if person.IsAuthor %}
        {% assign authors = authors | append: name | append: "|" %}
    {% endif %}
    {% if person.IsMaintainer %}
        {% assign maintainers = maintainers | append: name | append: "|" %}
    {% endif %}
{% endfor %}

{% assign authors = authors | split: "|" %}
<dt>Author{% if authors.size > 1 %}s{% endif %}</dt>
<dd>
    {{ authors | join: ", " }}
</dd>

{% assign maintainers = maintainers | split: "|" %}
<dt>Maintainer{% if maintainers.size > 1 %}s{% endif %}</dt>
<dd>
    {{ maintainers | join: ", " }}
</dd>

<dt>Version with GAP {{ site.data.release.version }}</dt>  
<dd>
    {{ pkginfo.Version }} &nbsp;&nbsp;&nbsp;(Released  {{ pkginfo.Date | date: "%d/%m/%Y" }})
</dd>

{% if pkginfo contains "License" %}
<dt>License</dt> 
<dd>
    {{ pkginfo.License }}
</dd>
{% endif %}

<dt>Status</dt> 
<dd>
    {{ pkginfo.Status }}
    {% if pkginfo contains "CommunicatedBy" and pkginfo contains "AcceptDate" %}
        &nbsp;&nbsp; (communicated by {{pkginfo.CommunicatedBy}}, accepted {{ pkginfo.AcceptDate | date: "%d/%m/%Y" }})
    {% elsif pkginfo contains "CommunicatedBy" %}
        &nbsp;&nbsp; (communicated by {{pkginfo.CommunicatedBy}})
    {% elsif pkginfo contains "AcceptDate" %}
        &nbsp;&nbsp; (accepted {{ pkginfo.AcceptDate | date: "%d/%m/%Y" }})
    {% endif %}
</dd>

<dt>Dependencies</dt>
<dd>
    GAP version: {{ pkginfo.Dependencies.GAP }} </br>

    {% if pkginfo.Dependencies contains "NeededOtherPackages" and pkginfo.Dependencies.NeededOtherPackages.size > 0 %}
        Needed other packages:
        {% for pkg in pkginfo.Dependencies.NeededOtherPackages %}
            {% assign name = pkg[0] %}
            {% include packagename_to_html.html pkg=name %}
            ({{ pkg[1] }}){% if forloop.last != true %}, {% endif %}
        {% endfor %}
    </br>
    {% endif %}

    {% if pkginfo.Dependencies contains "SuggestedOtherPackages" and pkginfo.Dependencies.SuggestedOtherPackages.size > 0 %}
        Suggested other packages:
        {% for pkg in pkginfo.Dependencies.SuggestedOtherPackages %}
            {% assign name = pkg[0] %}
            {% include packagename_to_html.html pkg=name %}
            ({{ pkg[1] }}){% if forloop.last != true %}, {% endif %}
        {% endfor %}
    </br>
    {% endif %}

    {% if pkginfo.Dependencies contains "ExternalConditions" and pkginfo.Dependencies.ExternalConditions.size > 0 %}
        External needs:
    {% assign ext = "" %}
    {% for e in pkginfo.Dependencies.ExternalConditions %}
        {% if e.size == 2 %}
            {% capture ext %}{{ ext }}<a href="{{ e[1] }}">{{ e[0] }}</a>|{% endcapture %}
        {% else %}
            {% capture ext %}{{ ext }}{{ e }}|{% endcapture %}
        {% endif %}
    {% endfor %}
    {{ ext | split: "|" | join: ", " }}
    </br>
    {% endif %}
</dd>

<dt>Documentation</dt> 
<dd>
{% for book in pkginfo.PackageDoc %}
{{book.BookName}} 
[<a href="{{ manual }}/{{ book.HTMLStart }}">HTML</a>] &nbsp;&nbsp;&nbsp; [<a href="{{ manual }}/{{ book.PDFFile }}">PDF</a>] <br/>
{% endfor %}
</dd>

{% if pkginfo contains "SupportEmail" %}
<dt>Support contact</dt>
<dd>
<a href="mailto:{{ pkginfo.SupportEmail }}">{{ pkginfo.SupportEmail }}</a>
</dd>
{% endif %}

{% if pkginfo contains "ArchiveFormats" %}
<dt>Download</dt>
<dd>
{{ pkginfo.ArchiveURL | split: "/" | slice: -1 }}
{% assign formats = pkginfo.ArchiveFormats | split: " " %}
{% for format in formats %}
     &nbsp;&nbsp;[<a href="{{ pkginfo.ArchiveURL }}{{ format }}">{{ format }}</a>]
{% endfor %}
</dd>
{% endif %}
</dl>
