---
layout: start
---
<h2>GAP {{ page.version }}</h2>

{% capture anchor %}gap-{{page.version | replace: ".", ""}}-{{ page.date | date: "%B %Y" | downcase | replace: " ","-" }}{% endcapture %}

<p>
For an overview of changes in GAP {{page.version}}
see <a href="https://github.com/gap-system/gap/blob/master/CHANGES.md#{{anchor}}">CHANGES.md</a> file.
</p>

{{ content }}

{% unless page.version == "4.5.6" or page.version == "4.5.4" %}
<h2>Packages included in this release</h2>

<p>
Each of the GAP {{page.version}} archives contains 
the core GAP system (the source code,
<a href="../Datalib/datalib.html">data libraries</a>, regression tests and 
<a href="../Doc/manuals.html">documentation</a>), and the following selection of
<a href="../Packages/packages.html">packages</a>:
</p>
{% endunless %}

{% include release_list_packages.html version=page.version %}
