---
layout: core
---

<tr>

<td class="header" align="center">
<a href="{{ site.baseurl }}/index.html">
 <div id="mainGAP">GAP</div>
</a>
</td>

<td class="top" align="center">
<h3>Main Branches</h3>
<!-- TODO: generate the following links -->
<a href="{{ site.baseurl }}/Releases/index.html">   Downloads</a>&nbsp;
<a href="{{ site.baseurl }}/Download/index.html">   Installation</a>&nbsp;
<a href="{{ site.baseurl }}/Overview/overview.html">   Overview</a>&nbsp;
<a href="{{ site.baseurl }}/Datalib/datalib.html">    Data&nbsp;Libraries</a>&nbsp;
<a href="{{ site.baseurl }}/Packages/packages.html">   Packages</a>&nbsp;
<a href="{{ site.baseurl }}/Doc/doc.html">        Documentation</a>&nbsp;
<a href="{{ site.baseurl }}/Contacts/contacts.html">   Contacts</a>&nbsp;
<a href="{{ site.baseurl }}/Faq/faq.html">        FAQ</a>&nbsp;
<a href="{{ site.baseurl }}/Gap3/gap3.html">       GAP&nbsp;3</a>&nbsp;
</td>

</tr>

<tr>


<td class="leftsidebar">
    <h4><a href="https://github.com/gap-system">Find us on GitHub</a></h4>
    <h3>Navigation Tree</h3>
    <table>
    <tr><td>
    <a href="{{ site.baseurl }}/index.html">Start</a>
    </td></tr>
    {% if page.toc %}
        {% for item in site.data.nav.toc %}
            {% if item.url == page.url %}
                <tr><td>&nbsp;&nbsp;<a href="{{ site.baseurl }}{{item.url}}" class="currentsection">{{item.section}}</a></td></tr>
            {% else %}
                <tr><td>&nbsp;&nbsp;<a href="{{ site.baseurl }}{{item.url}}">{{item.section}}</a></td></tr>
            {% endif %}
            {% if item.section != page.toc %}
                {% continue %}
            {% endif %}
            {% unless item.subsections %}
                {% continue %}
            {% endunless %}
            {% for subs in item.subsections %}
                {% if subs.url == page.url %}
                    <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ site.baseurl }}{{subs.url}}" class="currentsection">{{subs.page}}</a></td></tr>
                {% else %}
                    <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ site.baseurl }}{{subs.url}}">{{subs.page}}</a></td></tr>
                {% endif %}
                {% unless subs.subsubsections %}
                    {% continue %}
                {% endunless %}
                {% if subs.page != page.subtoc %}
                    {% continue %}
                {% endif %}
                {% for subsubs in subs.subsubsections %}
                    {% if subsubs.url == page.url %}
                        <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{{ site.baseurl }}{{subsubs.url}}" class="currentsection">{{subsubs.page}}</a></td></tr>
                    {% else %}
                        <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{{ site.baseurl }}{{subsubs.url}}">{{subsubs.page}}</a></td></tr>
                    {% endif %}
                    {% unless  subsubs.subsubsubsections %}
                        {% continue %}
                    {% endunless %}
                    {% if subsubs.page != page.subsubtoc %}
                        {% continue %}
                    {% endif %}
                    {% for subsubsubs in subsubs.subsubsubsections %}
                        {% if subsubsubs.url == page.url %}
                            <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="{{ site.baseurl }}{{subsubsubs.url}}" class="currentsection">{{subsubsubs.page}}</a></td></tr>
                        {% else %}
                            <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="{{ site.baseurl }}{{subsubsubs.url}}">{{subsubsubs.page}}</a></td></tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    {% endif %}
    </table>
    <div style="margin-top: 4ex;">
    <a href="https://github.com/gap-system/GapWWW/edit/master/{{ page.path }}">Edit this page</a>
    </div>
</td>

<td class="content">
{{ content }}
</td>

</tr>
