---
layout: core
---

<tr>

<td class="header" align="center">
<a href="/index.html">
 <div id="mainGAP">GAP</div>
</a>
</td>

<td class="top" align="center">
<h3>Main Branches</h3>
<!-- TODO: generate the following links -->
<a href="{{ site.baseurl }}/Releases/{{site.data.gap.relversion}}.html">   Downloads</a>&nbsp;
<a href="{{ site.baseurl }}/Download/index.html">   Installation</a>&nbsp;
<a href="{{ site.baseurl }}/Overview/overview.html">   Overview</a>&nbsp;
<a href="{{ site.baseurl }}/Datalib/datalib.html">    Data&nbsp;Libraries</a>&nbsp;
<a href="{{ site.baseurl }}/Packages/packages.html">   Packages</a>&nbsp;
<a href="{{ site.baseurl }}/Doc/doc.html">        Documentation</a>&nbsp;
<a href="{{ site.baseurl }}/Contacts/contacts.html">   Contacts</a>&nbsp;
<a href="{{ site.baseurl }}/Faq/faq.html">        FAQ</a>&nbsp;
<a href="{{ site.baseurl }}/Gap3/gap3.html">       GAP&nbsp;3</a>&nbsp;
</td>

</tr>

<tr>

<td class="leftsidebar">
<h4><a href="https://github.com/gap-system">Find us on GitHub</a></h4>
<h4><a href="/sitemap.html">Sitemap</a></h4>
<h3>Navigation Tree</h3>
<mixer func="makeleft_plus"/></td><!-- TODO -->

<td class="content">
{{ content }}
</td>

</tr>
