---
title: GAP 4.4 Update 9 (November 2006)
layout: default
---

<!-- descriptions of fixes: -->
<h3>Fixed bugs which could produce wrong results</h3>
<ol>

<li>
The methods of
{% include coderef.html manual="Reference: ReadByte" text="ReadByte" %} for reading from files or  terminals returned wrong
results for characters in the range [128..255]. [Reported by Yevgen Muntyan]
</li>
</ol>


<h3>Other fixed bugs</h3>
<ol>

<li>
A method for the operation
{% include coderef.html manual="Reference: PseudoRandom" text="PseudoRandom" %} did not succeed.
</li>

<li>
A fix for `Orbits' with a set of points as a seed.
</li>

<li>
Added a generic method such that {% include coderef.html manual="Reference: Positions" text="Positions" %} works with all types of lists.
</li>

<li>
Fixed a problem in choosing the prime in the Dixon-Schneider algorithm. [Reported by Toshio Sumi]
</li>
</ol>


<h3>New or improved functionality</h3>
<ol>

<li>
<span class="code">ReducedOrdinary</span> was used in the manual,
but was not documented as such, being a synonym for the documented 
<span class="code">ReducedCharacters</span>. 
Changed manual examples to use the latter form. [Reported by Vahid Dabbaghian]
</li>
</ol>


