---
title: GAP 4.4 Update 11 (December 2008)
layout: default
---

<h3>Fixed bugs which could produce wrong results</h3>
<ol>

<li>
{% include coderef.html manual="Reference: MemoryUsage" text="MemoryUsage" %} on objects with no subobjects left them in the cache and
thus reported 0 in subsequent calls to MemoryUsage for the same
object. [Reported by Stefan Kohl]
</li>

<li>
{% include coderef.html manual="Reference: Irr" text="Irr(G)" %} might be missing characters. [Reported by Angel del Rio]
</li>

<li>
Up to now, it was allowed to call the function
{% include coderef.html manual="Reference: FullMatrixAlgebraCentralizer" text="FullMatrixAlgebraCentralizer" %}
with a field and a list of matrices such that the entries of the matrices
were not contained in the field;
in this situation, the result did not fit to the documentation.
Now the entries of the matrices are required to lie in the field,
if not then an error is signaled.
</li>

<li>
For those finite fields that are regarded as field extensions over
non-prime fields (one can construct such fields with
{% include coderef.html manual="Reference: AsField" text="AsField" %}),
the function {% include coderef.html manual="Reference: DefiningPolynomial" text="DefiningPolynomial" %}
erroneously returned a polynomial w.r.t. the extension of the prime field. [Reported by Stefan Kohl]
</li>

<li>
Since the release of <span class="pkgname">GAP</span> 4.4.10,
the return values of the function
{% include coderef.html manual="Reference: QuaternionAlgebra" text="QuaternionAlgebra" %}
were not consistent w.r.t. the attribute
{% include coderef.html manual="Reference: GeneratorsOfAlgebra" text="GeneratorsOfAlgebra" %};
the returned list could have length four or five.
Now always the list of elements of the canonical basis is returned.
</li>

<li>
{% include coderef.html manual="Reference: MonomialGrevlexOrdering" text="MonomialGrevlexOrdering" %} calculated a wrong ordering in certain cases. [Reported by Paul Smith]
</li>

<li>
The (<span class="pkgname">GAP</span> kernel) method for the operation
{% include coderef.html manual="Reference: IntersectSet" text="IntersectSet" %} for ranges had two bugs,
which could yield a result range with either too few or too many elements.
As a consequence, for example the {% include coderef.html manual="Reference: Intersection" text="Intersection" %} results for ranges could be
wrong. [Reported by Matthew Fayers]
</li>

<li>
Fixed a bug in the short-form display of elements of larger finite fields, a bug in some
cross-field conversions and some inefficiencies and a missing method in the {% include coderef.html manual="Reference: LogFFE" text="LogFFE" %} code. [Reported by Jia Huang]
</li>

<li>
In rare cases {% include coderef.html manual="Reference: SmithNormalFormIntegerMatTransforms" text="SmithNormalFormIntegerMatTransforms" %}
returned a wrong normal form (the version without transforming matrices 
did not have this problem). This is fixed. [Reported by AH]
</li>

<li>
The variant of the function 
{% include coderef.html manual="Reference: StraightLineProgram for a string and a list of generators names" text="StraightLineProgram" %} that takes a string
as its first argument returned wrong results if the last character of this
string was a closing bracket.
</li>

<li>
The code for central series in a permutation group used too tight a bound
and thus falsely return a nilpotent permutation group as non-nilpotent.
</li>
</ol>


<h3>Fixed bugs which could lead to crashes</h3>
<ol>

<li>
Under certain circumstances the kernel code for position in blists
would access a memory location just after the end of the blist. If
this location was not accessible, a crash could result. This was corrected
and the code was cleaned up. [Reported by AH]
</li>
</ol>


<h3>Other fixed bugs</h3>
<ol>

<li>
The function {% include coderef.html manual="Reference: IsomorphismTypeInfoFiniteSimpleGroup" text="IsomorphismTypeInfoFiniteSimpleGroup" %}
can be called with a positive integer instead of a group,
and then returns information about the simple group(s) of this order.
(This feature is currently undocumented.)
For the argument 1, however, it ran into an infinite loop.
</li>

<li>
A lookup in an empty dictionary entered a break loop. Now returns 'fail'. [Reported by Laurent Bartholdi]
</li>

<li>
The c++ keyword 'and' is no longer be used as a macro parameter in the
kernel. [Reported by Paul Smith]
</li>

<li>
The operation {% include coderef.html manual="Reference: KernelOfMultiplicativeGeneralMapping" text="KernelOfMultiplicativeGeneralMapping" %} has
methods designed to handle maps between permutation groups in a two-step approach,
but did not reliably trigger the second step.  This has now been fixed, preventing
a slow infinite loop repeating the first step.  This was normally only seen
as part of a larger calculation.
</li>

<li>
There were two methods for the operation
{% include coderef.html manual="Reference: Intersection2" text="Intersection2" %} which have implicitly assumed
that finiteness of a collection can always be decided. Now, these methods
check for {% include coderef.html manual="Reference: IsFinite" text="HasIsFinite" %} and
{% include coderef.html manual="Reference: CanComputeSize" text="CanComputeSize" %} prior to calling
{% include coderef.html manual="Reference: IsFinite" text="IsFinite" %}.
</li>

<li>
Made error message in case of corrupted help book information
(manual.six file) shorter and more informative.  [Reported by AH]
</li>

<li>
<span class="pkgname">GAP</span> cannot call methods with more than six
arguments.
Now the functions {% include coderef.html manual="Reference: NewOperation" text="NewOperation" %},
{% include coderef.html manual="Reference: DeclareOperation" text="DeclareOperation" %}, and
{% include coderef.html manual="Reference: InstallMethod" text="InstallMethod" %}
signal an error if one attempts to declare an operation or to install
a method with more than six arguments.
</li>

<li>
Up to now, {% include coderef.html manual="Reference: IsOne" text="IsOne" %} had a special method for general
mappings, which was much worse than the generic method;
this special method has now been removed.
</li>

<li>
When printing elements of an algebraic extension parentheses around
coefficients were missing. [Reported by Maxim Hendriks]
</li>
</ol>


<h3>New or improved functionality</h3>
<ol>

<li>
Make dynamic loading of modules possible on CYGWIN using a DLL based
approach. Also move to using autoconf version 2.61.
</li>

<li>
One can now call
{% include coderef.html manual="Reference: Basis" text="Basis" %},
{% include coderef.html manual="Reference: Iterator" text="Iterator" %}
etc. with the return value of the function
{% include coderef.html manual="Reference: AlgebraicExtension" text="AlgebraicExtension" %}.
</li>

<li>
The function {% include coderef.html manual="Reference: FrobeniusCharacterValue" text="FrobeniusCharacterValue" %}
returned <span class="code">fail</span> for results that require
a finite field with more than 65536 elements.
Meanwhile <span class="pkgname">GAP</span> can handle larger finite fields,
so this restriction was removed.
(It is still possible that
{% include coderef.html manual="Reference: FrobeniusCharacterValue" text="FrobeniusCharacterValue" %}
returns <span class="code">fail</span>.)
</li>

<li>
Methods for testing membership in general linear groups and special linear
groups over the integers have been added. 
</li>

<li>
Methods for {% include coderef.html manual="Reference: String" text="String" %} and
<span class="code">ViewString</span> for full row modules have
been added. Further, a default method for
{% include coderef.html manual="Reference: IsRowModule" text="IsRowModule" %} has been
added, which returns 
<span class="code">false</span> for objects
which are not free left modules.
</li>

<li>
A <span class="code">ViewString</span> method for objects with name
has been added.
</li>

<li>
The method for {% include coderef.html manual="Reference: View" text="View" %}
for polynomial rings has been improved, and methods for
{% include coderef.html manual="Reference: String" text="String" %} and
<span class="code">ViewString</span> for polynomial rings
have been added.
</li>

<li>
{% include coderef.html manual="Reference: Binomial" text="Binomial(n, k)" %} now works with huge <span
class="code">n</span>.
</li>

<li>
The function {% include coderef.html manual="Reference: InducedClassFunctionsByFusionMap" text="InducedClassFunctionsByFusionMap" %}
is now documented.
</li>

<li>
The return values of the function
{% include coderef.html manual="Reference: QuaternionAlgebra" text="QuaternionAlgebra" %}
now store that they are division rings (if optional parameters are given
then of course ths depends on these parameters).
</li>
</ol>





