---
title: Helpful GAP interface programs
layout: default
toc: Overview
---

<p>
GAP has excellent command line features, such as 
{% include ref.html label="The Help System" text="help" %}.  
Moreover, GAP  will remember your session "history"  (all the commands
typed in during your GAP session) and allow you to find all previously
issued  commands starting  with  a specific  letter  or sequence.  For
example, <tt>aBcD</tt> by typing

<pre>
gap> aBcD
</pre>

at  the GAP  prompt, followed  by the  <tt>up-arrow</tt>, you  get the
previous command (if any) starting with <tt>aBcD</tt>. To simply cycle
through   the   previous    commands,   just   repeatedly   type   the
<tt>up-arrow</tt> key.
</p>
<p>
Other "interface" options exist and this page explains some of these.
</p>
<ul>
<li>

For xemacs/emacs lovers,  there is a special mode  for GAP users (for
vim users, see the section
{% include ref.html label="Editor Support" text="Editor&nbsp;Support" %}
in the GAP reference manual). Note that
by running  GAP within  emacs/xemacs you will  lose, for  example, the
tab-completion  and  the  nice  history  features  of  GAP's  built-in
shell. However,  as a small consolation,  you can edit  out any syntax
mistakes in your  session as you go. The page 
<a href="http://www.usna.edu/Users/math/wdj/gap/gap_emacs.html">
GAP&nbsp;in&nbsp;emacs&nbsp;or&nbsp;xemacs</a> 
has information for GAP in linux and GAP in windows.

</li>
<br />
<li>

GAP does  not allow  more than  one line of  comments using  the usual
"Read" command. For debugging and for adding examples to help remember
proper syntax, multi-line  comments would be very useful.  Thanks to a
new command  "ReadNC" written  by Frank Lübeck,  you now  can include
multi-line comments into your file. Frank Lübeck's 

<a href="http://www.usna.edu/Users/math/wdj/_files/documents/gap/read_no_comments.html">
ReadNC</a> 

GAP program
allows the reading into GAP of programs with multi-line comments.

</li>
<br />

</ul>
