---
title: Overview of GAP
layout: default
toc: Overview
---

<h3>
  GAP provides:
</h3>
<ul>
  <li>
    <a href="Capabilities/capabilities.html">
    Mathematical&nbsp;capabilities</a> accessible through
    <ul>
      <li>
        a large
        <a href="{{ site.baseurl }}/Manuals/doc/ref/chap0.html">library</a> of
        {% include ref.html manual="Reference: Functions" text="functions" %}, containing
        implementations of various algebraic algorithms.
      </li>
      <li>
        separate <a href="{{ site.baseurl }}/Packages/packages.html">packages</a> of additional
        functions for specialized purposes which can be used like library
        functions,
      </li>
      <li>
        <a href="{{ site.baseurl }}/Datalib/datalib.html">data&nbsp;libraries</a> containing
        large classes of various algebraic objects that are accessible by
        using GAP commands.
      </li>
    </ul>
  </li>
  <li>
    A {% include ref.html manual="Reference: The Programming Language" text="programming&nbsp;language" %}, 
    also called GAP,
    which is interpreted and can be compiled. It can be used interactively
    at the keyboard or to write programs to be saved and then executed.
    Such programs can easily be modified and rerun. The language features:
    <ul>
      <li>
        Pascal-like control structures,
      </li>
      <li>
        automatic memory management including garbage collection,
      </li>
      <li>
        {% include ref.html manual="Reference: Streams" text="streams" %},
      </li>
      <li>
        flexible
        {% include ref.html manual="Reference: Lists" text="list" %} and
        {% include ref.html manual="Reference: Records" text="record" %} data types,
      </li>
      <li>
        built-in data types for key algebraic objects,
      </li>
      <li>
        automatic {% include ref.html manual="Reference: Method Selection" text="method&nbsp;selection" %} 
        building on  a mechanism for 
        automatically  choosing the highest ranked method for a certain 
        operation,  depending on the current state of all its arguments, 
        so that GAP objects representing mathematical objects may gain 
        knowledge about themselves during their lifetime  resulting in 
        better methods being chosen later on.
      </li>
    </ul>
  </li>
  <li>
    An {% include ref.html manual="Reference: Main Loop and Break Loop" text="interactive&nbsp;environment" %} 
    that supports in particular 
     <ul>
       <li>
        {% include ref.html manual="Reference: Line Editing" text="line&nbsp;editing" %}
        e.g. tab completion, 
       </li>
       <li>
        {% include ref.html manual="Reference: Break Loops" text="break&nbsp;loops" %}
        for debugging,
       </li>
       <li>
        further {% include ref.html manual="Reference: Debugging and Profiling Facilities" text="debugging&nbsp;and&nbsp;profiling" %}
        facilities for GAP programs,
       </li>
       <li> 
        {% include ref.html manual="Reference: The Help System" text="online&nbsp;help" %}
        (i.e. online access to the manuals),
       </li>
       <li>a 
         <a href="{{ site.baseurl }}/Packages/xgap.html">graphical&nbsp;user&nbsp;interface</a>
         for GAP,
       </li>
       <li>
         further GAP
         <a href="{{ site.baseurl }}/Overview/interface.html">interface</a> programs provided
          by users.   
       </li>
     </ul> 
   </li>  
</ul>

<h3>
  Structure of GAP
</h3>
<p>
  GAP has a kernel written in C. It implements
</p>
<ul>
  <li>
    the GAP language,
  </li>
  <li>
    an interactive environment for developing and using
    GAP programs,
  </li>
  <li>
    memory management, and
  </li>
  <li>
    fast versions of time critical operations for various data types. 
  </li>
</ul>
<p>
  All the rest of the library of functions is written in the
  GAP language. Packages are mainly written in the
  GAP language, but some also involve standalones. Some
  packages provide links to other systems.
</p>

<h3>
  Requirements and Availability
</h3>
<p>
  The GAP system will run on any machine with a UNIX-like
  or recent Windows or Mac OS X operating system and with a reasonable
  amount of RAM and disk space. The current version is GAP&nbsp;4, but
  <a href="{{ site.baseurl }}/Gap3/gap3.html">GAP&nbsp;3 </a> is also available, so
  those GAP&nbsp;3 packages that have not yet been converted to
  GAP&nbsp;4 may still be used. Both GAP&nbsp;4 and
  GAP&nbsp;3 may be obtained at no cost by following the
  <a href="{{ site.baseurl }}/Download/index.html">download</a> instructions.
</p>
