---
title: Overview of GAP
layout: default
---

<h3>
  GAP provides:
</h3>
<ul>
  <li>
    <a href="Capabilities/capabilities.html">
    Mathematical&nbsp;capabilities</a> accessible through
    <ul>
      <li>
        a large
        <a href="{{GAPManualLink}}/doc/ref/chap0.html">library</a> of
        {% include ref.html label="Reference: Functions" text="functions" %}, containing
        implementations of various algebraic algorithms, part of 
        which is divided into 
        <a href="/Contacts/People/modules.html">'Modules'</a> under the 
        responsibility of 'maintainers',
      </li>
      <li>
        separate <a href="/Packages/packages.html">packages</a> of additional
        functions for specialized purposes which can be used like library
        functions,
      </li>
      <li>
        <a href="/Datalib/datalib.html">data&nbsp;libraries</a> containing
        large classes of various algebraic objects that are accessible by
        using GAP commands.
      </li>
    </ul>
  </li>
  <li>
    A {% include ref.html label="Reference: The Programming Language" text="programming&nbsp;language" %}, 
    also called GAP,
    which is interpreted and can be compiled. It can be used interactively
    at the keyboard or to write programs to be saved and then executed.
    Such programs can easily be modified and rerun. The language features:
    <ul>
      <li>
        Pascal-like control structures,
      </li>
      <li>
        automatic memory management including garbage collection,
      </li>
      <li>
        {% include ref.html label="Reference: Streams" text="streams" %}
      </li>
      <li>
        flexible
        {% include ref.html label="Reference: Lists" text="list" %} and
        {% include ref.html label="Reference: Records" text="record" %} data types,
      </li>
      <li>
        built-in data types for key algebraic objects,
      </li>
      <li>
        automatic {% include ref.html label="Reference: Method Selection" text="method&nbsp;selection" %} 
        building on  a mechanism for 
        automatically  choosing the highest ranked method for a certain 
        operation,  depending on the current state of all its arguments, 
        so that GAP objects representing mathematical objects may gain 
        knowledge about themselves during their lifetime  resulting in 
        better methods being chosen later on.
      </li>
    </ul>
  </li>
  <li>
    An {% include ref.html label="Reference: Main Loop and Break Loop" text="interactive&nbsp;environment" %} 
    that supports in particular 
     <ul>
       <li>
        {% include ref.html label="Reference: Line Editing" text="line&nbsp;editing" %}
        e.g. tab completion, 
       </li>
       <li>
        {% include ref.html label="Reference: Break Loops" text="break&nbsp;loops" %}
        for debugging,
       </li>
       <li>
        further {% include ref.html label="Reference: Debugging and Profiling Facilities" text="debugging&nbsp;and&nbsp;profiling" %}
        facilities for GAP programs,
       </li>
       <li> 
        {% include ref.html label="Reference: The Help System" text="online&nbsp;help" %}
        (i.e. online access to the manuals),
       </li>
       <li>a 
         <a href="/Packages/xgap.html">graphical&nbsp;user&nbsp;interface</a>
         for GAP,
       </li>
       <li>
         further GAP
         <a href="/Overview/interface.html">interface</a> programs provided
          by users.   
       </li>
     </ul> 
   </li>  
  <li>
    <a href="/Doc/doc.html">Documentation</a>, in particular
    <ul>
      <li>
        a
        <a href="{{GAPManualLink}}/doc/tut/chap0.html">Tutorial</a>
        and further
        <a href="/Doc/Learning/learning.html">learning</a> and
        <a href="/Doc/Teaching/teaching.html">teaching</a> material,
        some of these in 
        <a href="http://www.math.jussieu.fr/~jmichel/papiers/xups.dvi">French</a>,  
        <a href="http://www.math.nagoya-u.ac.jp/~shoji/eindex.html">
        Japanese</a>, 
        <a href="http://www.fc.up.pt/cmup/monograph/gap-notas.pdf">
        Portuguese</a>, and
        <a href="/Doc/Learning/russian.html">Russian</a>,
      </li>
      <li>
        a
        <a href="{{GAPManualLink}}/doc/ref/chap0.html">
        Reference&nbsp;Manual</a> giving complete descriptions of library
        functions with examples of use,
      </li>
      <li>
        a descriptions of 
        <a href="{{GAPManualLink}}/doc/changes/chap0.html">
        changes from earlier versions</a>,
      </li>
      <li>
        separate manuals for the
        <a href="/Packages/packages.html">packages</a>,
      </li>
      <li>
        worked out higher level
        <a href="/Doc/Examples/examples.html">examples</a> and a
        <a href="/Doc/Talks/talks.html">collection</a> of preprints and
        talks,
      </li>
      <li>
        a mark-up language
        <a href="/Packages/gapdoc.html">GAPDoc</a> for writing
        GAP documentation,
      </li>
      <li>
        an <a href="/Doc/forumarchive.html">archive</a> of GAP
        Forum contributions,
      </li>
      <li>
        a <a href="/Doc/Bib/bib.html">Bibliography</a> of papers quoting
        GAP.
      </li>
    </ul>
  </li>
  <li>
    <a href="/Download/index.html">Download</a> and Installation instructions.
  </li>
  <li>
    <a href="/Faq/faq.html">FAQ</a> answers.
  </li>
  <li>
    A 
    <a href="http://www.spec.org/cpu2000/CINT2000/254.gap/docs/254.gap.html">
    GAP3&nbsp;benchmark</a>,
    designed by 
    Martin Sch&ouml;nert,
    has been included with the benchmarks of the Standard Performance 
    Evaluation Company.
  </li>  
</ul>

<h3>
  Structure of GAP
</h3>
<p>
  GAP has a kernel written in C. It implements
</p>
<ul>
  <li>
    the GAP language,
  </li>
  <li>
    an interactive environment for developing and using
    GAP programs,
  </li>
  <li>
    memory management, and
  </li>
  <li>
    fast versions of time critical operations for various data types. 
  </li>
</ul>
<p>
  All the rest of the library of functions is written in the
  GAP language. Packages are mainly written in the
  GAP language, but some also involve standalones. Some
  packages provide links to other systems.
</p>

<h3>
  Requirements and Availability
</h3>
<p>
  The GAP system will run on any machine with a UNIX-like
  or recent Windows or Mac OS X operating system and with a reasonable
  amount of RAM and disk space. The current version is GAP&nbsp;4, but
  <a href="/Gap3/gap3.html">GAP&nbsp;3 </a> is also available, so
  those GAP&nbsp;3 packages that have not yet been converted to
  GAP&nbsp;4 may still be used. Both GAP&nbsp;4 and
  GAP&nbsp;3 may be obtained at no cost by following the
  <a href="/Download/index.html">download</a> instructions.
</p>
