name: Build

on:
  workflow_dispatch:
  pull_request:
  push:

jobs:
  build:
    name: Build the Jekyll site
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: sudo apt install bundler
      - run: bundle install
      - run: bundle exec jekyll build
